In [1]:
import pandas as pd

In [2]:
df14 = pd.read_csv('constituency_wise_results_2014.csv')
df14

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357

In [3]:
df19 = pd.read_csv('constituency_wise_results_2019.csv')
df19

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,973410
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,973410
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,973410
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,973410
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410

In [4]:
df14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8355 entries, 0 to 8354
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           8355 non-null   object
 1   pc_name         8355 non-null   object
 2   candidate       8355 non-null   object
 3   sex             7845 non-null   object
 4   age             7845 non-null   float64
 5   category        7845 non-null   object
 6   party           8355 non-null   object
 7   party_symbol    8355 non-null   object
 8   general_votes   8355 non-null   int64
 9   postal_votes    8355 non-null   int64
 10  total_votes     8355 non-null   int64
 11  total_electors  8355 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 783.4+ KB

In [5]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8597 entries, 0 to 8596
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           8597 non-null   object
 1   pc_name         8597 non-null   object
 2   candidate       8597 non-null   object
 3   sex             8054 non-null   object
 4   age             8054 non-null   float64
 5   category        8054 non-null   object
 6   party           8597 non-null   object
 7   party_symbol    8054 non-null   object
 8   general_votes   8597 non-null   int64
 9   postal_votes    8597 non-null   int64
 10  total_votes     8597 non-null   int64
 11  total_electors  8597 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 806.1+ KB

### Odisha, Chhattisgarh, Telangana is missing in df14
### None is missing in df19

In [6]:
df14.state.unique(), len(df14.state.unique())

(array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Goa',
        'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
        'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
        'Meghalaya', 'Mizoram', 'Nagaland', 'Punjab', 'Rajasthan',
        'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'West Bengal',
        'Jharkhand', 'Uttarakhand', 'Andaman & Nicobar Islands',
        'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu',
        'NCT OF Delhi', 'Lakshadweep', 'Puducherry'], dtype=object),
 33)

In [7]:
df19.state.unique(), len(df19.state.unique())

(array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Goa',
        'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
        'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
        'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab',
        'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh',
        'West Bengal', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand',
        'Telangana', 'Andaman & Nicobar Islands', 'Chandigarh',
        'Dadra & Nagar Haveli', 'Daman & Diu', 'NCT OF Delhi',
        'Lakshadweep', 'Puducherry'], dtype=object),
 36)

In [8]:
df14[df14['state']=="Andhra Pradesh"]

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
635,Andhra Pradesh,Chittoor,UDAYA C.S,F,34.0,SC,PPOI,Television,3793,10,3803,1451851
636,Andhra Pradesh,Chittoor,P. PUSHPA RAJ,M,57.0,SC,JaSPa,Chappals,5628,112,5740,1451851
637,Andhra Pradesh,Chittoor,G.SAMANYAKIRAN,F,35.0,SC,YSRCP,Ceiling Fan,548184,2540,550724,1451851
638,Andhra Pradesh,Chittoor,S. ANJAPPA,M,43.0,SC,IND,Bat,4314,7,4321,1451851
639,Andhra Pradesh,Chittoor,None of the Above,NaN,NaN,NaN,NOTA,NOTA,6940,56,6996,1451851

In [9]:
df19[(df19["state"]=="Andhra Pradesh") | (df19["state"]=="Telangana")]

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...
8325,Telangana,Khammam,BHANALA LAXMANA CHARY,MALE,53.0,GENERAL,IND,Sewing Machine,4704,0,4704,1513809
8326,Telangana,Khammam,MUTYAM ARJUNA RAJU,MALE,30.0,GENERAL,IND,Bangles,2220,0,2220,1513809
8327,Telangana,Khammam,LAXMA NAIK BANOTH,MALE,62.0,ST,IND,Air Conditioner,732,2,734,1513809
8328,Telangana,Khammam,SANJEEVA RAO NAKIRIKANTI,MALE,49.0,SC,IND,SHIP,2024,0,2024,1513809
8329,Telangana,Khammam,NOTA,NaN,NaN,NaN,NOTA,NaN,15802,30,15832,1513809

In [10]:
df19[df19["state"]=="Telangana"]

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
7870,Telangana,Adilabad,Godam Nagesh,MALE,54.0,ST,TRS,Car,318665,149,318814,1489790
7871,Telangana,Adilabad,RATHOD RAMESH,MALE,52.0,ST,INC,Hand,314057,181,314238,1489790
7872,Telangana,Adilabad,SOYAM BAPU RAO,MALE,52.0,ST,BJP,Lotus,376892,482,377374,1489790
7873,Telangana,Adilabad,KUMRAM VANDANA,FEMALE,35.0,ST,NPRP,Tractor Chalata Kisan,8005,2,8007,1489790
7874,Telangana,Adilabad,Dharavath Narendhar Naik,MALE,27.0,ST,JnP,Glass Tumbler,5233,8,5241,1489790
...,...,...,...,...,...,...,...,...,...,...,...,...
8325,Telangana,Khammam,BHANALA LAXMANA CHARY,MALE,53.0,GENERAL,IND,Sewing Machine,4704,0,4704,1513809
8326,Telangana,Khammam,MUTYAM ARJUNA RAJU,MALE,30.0,GENERAL,IND,Bangles,2220,0,2220,1513809
8327,Telangana,Khammam,LAXMA NAIK BANOTH,MALE,62.0,ST,IND,Air Conditioner,732,2,734,1513809
8328,Telangana,Khammam,SANJEEVA RAO NAKIRIKANTI,MALE,49.0,SC,IND,SHIP,2024,0,2024,1513809
8329,Telangana,Khammam,NOTA,NaN,NaN,NaN,NOTA,NaN,15802,30,15832,1513809

In 2014, Andhra Pradesh underwent bifurcation. For simplicity, all constituencies from that year should be attributed to Telangana state. This includes constituencies such as Adilabad, Hyderabad, Warangal, etc., which should be considered part of Telangana rather than Andhra Pradesh for the year 2014.

In [11]:
for pc in df19[df19["state"] == "Telangana"].pc_name.unique():
    df14.loc[df14["pc_name"] == pc, "state"] = "Telangana"

In [12]:
df14[df14["state"]=="Telangana"]

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Telangana,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Telangana,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Telangana,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Telangana,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
277,Telangana,Khammam,RAMESH KOMMU,M,42.0,SC,IND,Gas Stove,1273,1,1274,1440267
278,Telangana,Khammam,RAMU KANDULA,M,35.0,SC,IND,Coconut,1021,0,1021,1440267
279,Telangana,Khammam,LINGALA RAVI KUMAR,M,38.0,SC,IND,Gas Cylinder,9459,1,9460,1440267
280,Telangana,Khammam,SANAPA POMMAIAH,M,50.0,ST,IND,BUCKET,889,0,889,1440267
281,Telangana,Khammam,None of the Above,NaN,NaN,NaN,NOTA,NOTA,4978,13,4991,1440267

1. List top 5 / bottom 5 constituencies of 2014 and 2019 in terms of voter turnout
ratio?

2. List top 5 / bottom 5 states of 2014 and 2019 in terms of voter turnout ratio?

3. Which constituencies have elected the same party for two consecutive elections,
rank them by % of votes to that winning party in 2019

4. Which constituencies have voted for different parties in two elections (list top 10
based on difference (2019-2014) in winner vote percentage in two elections)

5. Top 5 candidates based on margin difference with runners in 2014 and 2019.

6. % Split of votes of parties between 2014 vs 2019 at national level

7. % Split of votes of parties between 2014 vs 2019 at state level.

8. List top 5 constituencies for two major national parties where they have gained vote
share in 2019 as compared to 2014.

9. List top 5 constituencies for two major national parties where they have lost vote
share in 2019 as compared to 2014.

10. Which constituency has voted the most for NOTA?

11. Which constituencies have elected candidates whose party has less than 10% vote
share at state level in 2019?

## Cleaning and adding Voter Turnout Ratio to data frame of 2014 AKA df14

### Two states can have same name pc_name like ['Maharajganj', 'Aurangabad', 'Hamirpur']

In [13]:
# Total vote per pc_name
Total_vote_pc = dict()
# filtering all parliament constituency
for pc in df14.pc_name.unique():
    pcdf = df14[df14["pc_name"]==pc]
    # filtering to check if parliament constituency is in two states 
    for state in pcdf.state.unique():
        total = 0
        s_pcdf = pcdf[pcdf["state"]==state]
        for i in range(len(s_pcdf)):
            total += s_pcdf.iloc[i,10]
        Total_vote_pc[(pc, state)] = total
Total_vote_pc

{('Adilabad ', 'Telangana'): 1045839,
 ('Peddapalle ', 'Telangana'): 1022184,
 ('Karimnagar ', 'Telangana'): 1125184,
 ('Nizamabad', 'Telangana'): 1033924,
 ('Zahirabad', 'Telangana'): 1094806,
 ('Medak', 'Telangana'): 1191011,
 ('Malkajgiri', 'Telangana'): 1620444,
 ('Secundrabad', 'Telangana'): 1003769,
 ('Hyderabad', 'Telangana'): 971421,
 ('CHELVELLA', 'Andhra Pradesh'): 1315862,
 ('Mahbubnagar', 'Telangana'): 1014800,
 ('Nagarkurnool', 'Telangana'): 1108968,
 ('Nalgonda', 'Telangana'): 1189399,
 ('Bhongir ', 'Telangana'): 1211732,
 ('Warangal', 'Telangana'): 1174631,
 ('Mahabubabad  ', 'Telangana'): 1124372,
 ('Khammam ', 'Telangana'): 1183849,
 ('Aruku ', 'Andhra Pradesh'): 909614,
 ('Srikakulam', 'Andhra Pradesh'): 1052115,
 ('Vizianagaram', 'Andhra Pradesh'): 1120316,
 ('Visakhapatnam', 'Andhra Pradesh'): 1163558,
 ('Anakapalli', 'Andhra Pradesh'): 1148072,
 ('Kakinada', 'Andhra Pradesh'): 1099999,
 ('Amalapuram ', 'Andhra Pradesh'): 1120927,
 ('Rajahmundry', 'Andhra Pradesh'): 1154381,
 ('Narsapuram', 'Andhra Pradesh'): 1088947,
 ('Eluru ', 'Andhra Pradesh'): 1201697,
 ('Machilipatnam ', 'Andhra Pradesh'): 1141065,
 ('Vijayawada', 'Andhra Pradesh'): 1195765,
 ('Guntur', 'Andhra Pradesh'): 1244926,
 ('Narasaraopet', 'Andhra Pradesh'): 1282058,
 ('Bapatla ', 'Andhra Pradesh'): 1184634,
 ('Ongole ', 'Andhra Pradesh'): 1208225,
 ('Nandyal', 'Andhra Pradesh'): 1204956,
 ('Kurnool', 'Andhra Pradesh'): 1065732,
 ('Anantapur', 'Andhra Pradesh'): 1212145,
 ('Hindupur', 'Andhra Pradesh'): 1177257,
 ('Kadapa', 'Andhra Pradesh'): 1200662,
 ('Nellore', 'Andhra Pradesh'): 1187648,
 ('Tirupati ', 'Andhra Pradesh'): 1213062,
 ('Rajampet', 'Andhra Pradesh'): 1158317,
 ('Chittoor ', 'Andhra Pradesh'): 1198915,
 ('ARUNACHAL WEST', 'Arunachal Pradesh'): 335665,
 ('ARUNACHAL EAST', 'Arunachal Pradesh'): 261291,
 ('Karimganj ', 'Assam'): 886920,
 ('Silchar', 'Assam'): 799830,
 ('Autonomous District', 'Assam'): 543280,
 ('Dhubri', 'Assam'): 1369624,
 ('Kokrajhar', 'Assam'): 1223869,
 ('Barpeta', 'Assam'): 1205863,
 ('Gauhati', 'Assam'): 1511729,
 ('Mangaldoi', 'Assam'): 1233237,
 ('Tezpur', 'Assam'): 980688,
 ('Nowgong', 'Assam'): 1230074,
 ('Kaliabor', 'Assam'): 1166490,
 ('Jorhat', 'Assam'): 931336,
 ('Dibrugarh', 'Assam'): 890968,
 ('Lakhimpur', 'Assam'): 1111975,
 ('Valmiki Nagar', 'Bihar'): 900127,
 ('Paschim Champaran', 'Bihar'): 854800,
 ('Purvi Champaran', 'Bihar'): 822671,
 ('Sheohar', 'Bihar'): 842894,
 ('Sitamarhi', 'Bihar'): 900588,
 ('Madhubani', 'Bihar'): 860453,
 ('Jhanjharpur', 'Bihar'): 941249,
 ('Supaul', 'Bihar'): 970528,
 ('Araria', 'Bihar'): 975811,
 ('Kishanganj', 'Bihar'): 928490,
 ('Katihar', 'Bihar'): 977830,
 ('Purnia', 'Bihar'): 1017732,
 ('Madhepura', 'Bihar'): 1034799,
 ('Darbhanga', 'Bihar'): 828342,
 ('Muzaffarpur', 'Bihar'): 948887,
 ('Vaishali', 'Bihar'): 925937,
 ('Gopalganj (SC)', 'Bihar'): 903583,
 ('Siwan', 'Bihar'): 884021,
 ('Maharajganj', 'Bihar'): 846654,
 ('Maharajganj', 'Uttar Pradesh'): 1056078,
 ('Saran', 'Bihar'): 863254,
 ('Hajipur (SC)', 'Bihar'): 904706,
 ('Ujiarpur', 'Bihar'): 858920,
 ('Samastipur (SC)', 'Bihar'): 863199,
 ('Begusarai', 'Bihar'): 1077855,
 ('Khagaria', 'Bihar'): 896231,
 ('Bhagalpur', 'Bihar'): 974016,
 ('Banka', 'Bihar'): 899353,
 ('Munger', 'Bihar'): 914350,
 ('Nalanda', 'Bihar'): 921761,
 ('Patna Sahib', 'Bihar'): 882262,
 ('Pataliputra', 'Bihar'): 978649,
 ('Arrah', 'Bihar'): 893213,
 ('Buxar', 'Bihar'): 888204,
 ('Sasaram (SC)', 'Bihar'): 846788,
 ('Karakat', 'Bihar'): 789927,
 ('Jahanabad', 'Bihar'): 811516,
 ('Aurangabad', 'Bihar'): 786274,
 ('Aurangabad', 'Maharashtra'): 982933,
 ('Gaya (SC)', 'Bihar'): 809378,
 ('Nawada', 'Bihar'): 884441,
 ('Jamui (SC)', 'Bihar'): 775639,
 ('North Goa', 'Goa'): 406631,
 ('South Goa', 'Goa'): 410369,
 ('Kachchh', 'Gujarat'): 946240,
 ('Banaskantha', 'Gujarat'): 886634,
 ('Patan', 'Gujarat'): 955799,
 ('Mahesana', 'Gujarat'): 1004258,
 ('Sabarkantha', 'Gujarat'): 1094002,
 ('Gandhinagar', 'Gujarat'): 1135495,
 ('Ahmedabad East', 'Gujarat'): 985525,
 ('Ahmedabad West', 'Gujarat'): 964609,
 ('Surendranagar', 'Gujarat'): 944677,
 ('Rajkot', 'Gujarat'): 1057069,
 ('Porbandar', 'Gujarat'): 809433,
 ('Jamnagar', 'Gujarat'): 852643,
 ('Junagadh', 'Gujarat'): 941378,
 ('Amreli', 'Gujarat'): 808816,
 ('Bhavnagar', 'Gujarat'): 917402,
 ('Anand', 'Gujarat'): 970894,
 ('Kheda', 'Gujarat'): 955906,
 ('Panchmahal', 'Gujarat'): 933461,
 ('Dahod', 'Gujarat'): 900381,
 ('Vadodara', 'Gujarat'): 1161577,
 ('Chhota Udaipur', 'Gujarat'): 1100542,
 ('Bharuch', 'Gujarat'): 1060211,
 ('Bardoli', 'Gujarat'): 1206179,
 ('Surat', 'Gujarat'): 947922,
 ('Navsari', 'Gujarat'): 1160747,
 ('Valsad', 'Gujarat'): 1122203,
 ('Ambala', 'Haryana'): 1218995,
 ('Kurukshetra', 'Haryana'): 1135892,
 ('Sirsa', 'Haryana'): 1279105,
 ('Hisar', 'Haryana'): 1155914,
 ('Karnal', 'Haryana'): 1193500,
 ('Sonipat', 'Haryana'): 985638,
 ('Rohtak', 'Haryana'): 1044331,
 ('Bhiwani-Mahendragarh', 'Haryana'): 1030431,
 ('Gurgaon', 'Haryana'): 1320620,
 ('Faridabad', 'Haryana'): 1130725,
 ('Kangra', 'Himachal Pradesh'): 799445,
 ('Mandi', 'Himachal Pradesh'): 726094,
 ('Hamirpur', 'Himachal Pradesh'): 835205,
 ('Hamirpur', 'Uttar Pradesh'): 975240,
 ('Shimla', 'Himachal Pradesh'): 737756,
 ('Baramulla', 'Jammu & Kashmir'): 465992,
 ('Srinagar', 'Jammu & Kashmir'): 312212,
 ('Anantnag', 'Jammu & Kashmir'): 375279,
 ('Ladakh', 'Jammu & Kashmir'): 118029,
 ('Udhampur', 'Jammu & Kashmir'): 1041758,
 ('Jammu', 'Jammu & Kashmir'): 1253593,
 ('Chikkodi', 'Karnataka'): 1071103,
 ('Belgaum', 'Karnataka'): 1078528,
 ('Bagalkot', 'Karnataka'): 1079310,
 ('Bijapur', 'Karnataka'): 966757,
 ('Gulbarga', 'Karnataka'): 997638,
 ('Raichur', 'Karnataka'): 968889,
 ('Bidar', 'Karnataka'): 959384,
 ('Koppal', 'Karnataka'): 1006508,
 ('Bellary', 'Karnataka'): 1045772,
 ('Haveri', 'Karnataka'): 1115968,
 ('Dharwad', 'Karnataka'): 1041226,
 ('Uttara Kannada', 'Karnataka'): 1001038,
 ('Davanagere', 'Karnataka'): 1114868,
 ('Shimoga', 'Karnataka'): 1129008,
 ('Udupi Chikmagalur', 'Karnataka'): 1034108,
 ('Hassan', 'Karnataka'): 1147172,
 ('Dakshina Kannada', 'Karnataka'): 1207474,
 ('Chitradurga', 'Karnataka'): 1096499,
 ('Tumkur', 'Karnataka'): 1101484,
 ('Mandya', 'Karnataka'): 1192638,
 ('Mysore', 'Karnataka'): 1159594,
 ('Chamarajanagar', 'Karnataka'): 1133029,
 ('Bangalore Rural', 'Karnataka'): 1455244,
 ('Bangalore North', 'Karnataka'): 1356718,
 ('Bangalore central', 'Karnataka'): 1074589,
 ('Bangalore South', 'Karnataka'): 1113726,
 ('Chikkballapur', 'Karnataka'): 1263274,
 ('Kolar', 'Karnataka'): 1127315,
 ('Kasaragod', 'Kerala'): 974215,
 ('Kannur', 'Kerala'): 947117,
 ('Vadakara', 'Kerala'): 959342,
 ('Wayanad', 'Kerala'): 915006,
 ('Kozhikode', 'Kerala'): 943009,
 ('Malappuram', 'Kerala'): 853467,
 ('Ponnani', 'Kerala'): 871592,
 ('Palakkad', 'Kerala'): 910322,
 ('Alathur ', 'Kerala'): 927228,
 ('Thrissur', 'Kerala'): 920505,
 ('Chalakudy', 'Kerala'): 884033,
 ('Ernakulam', 'Kerala'): 850834,
 ('Idukki', 'Kerala'): 819766,
 ('Kottayam', 'Kerala'): 831636,
 ('Alappuzha', 'Kerala'): 997464,
 ('Mavelikkara ', 'Kerala'): 889060,
 ('Pathanamthitta', 'Kerala'): 869452,
 ('Kollam', 'Kerala'): 879056,
 ('Attingal', 'Kerala'): 859350,
 ('Thiruvananthapuram', 'Kerala'): 873441,
 ('MORENA', 'Madhya Pradesh'): 854279,
 ('BHIND', 'Madhya Pradesh'): 729084,
 ('GWALIOR', 'Madhya Pradesh'): 990912,
 ('GUNA', 'Madhya Pradesh'): 976629,
 ('SAGAR', 'Madhya Pradesh'): 891929,
 ('TIKAMGARH', 'Madhya Pradesh'): 766321,
 ('DAMOH', 'Madhya Pradesh'): 912080,
 ('KHAJURAHO', 'Madhya Pradesh'): 874477,
 ('SATNA', 'Madhya Pradesh'): 913444,
 ('REWA', 'Madhya Pradesh'): 830002,
 ('SIDHI', 'Madhya Pradesh'): 989396,
 ('SHAHDOL', 'Madhya Pradesh'): 968518,
 ('JABALPUR', 'Madhya Pradesh'): 1002184,
 ('MANDLA', 'Madhya Pradesh'): 1218518,
 ('BALAGHAT', 'Madhya Pradesh'): 1113364,
 ('CHHINDWARA', 'Madhya Pradesh'): 1107498,
 ('HOSHANGABAD', 'Madhya Pradesh'): 1031175,
 ('VIDISHA', 'Madhya Pradesh'): 1073473,
 ('BHOPAL', 'Madhya Pradesh'): 1130182,
 ('RAJGARH', 'Madhya Pradesh'): 1010724,
 ('DEWAS', 'Madhya Pradesh'): 1143970,
 ('UJJAIN', 'Madhya Pradesh'): 1016405,
 ('MANDSOUR', 'Madhya Pradesh'): 1161349,
 ('RATLAM', 'Madhya Pradesh'): 1082690,
 ('DHAR', 'Madhya Pradesh'): 1076816,
 ('INDORE', 'Madhya Pradesh'): 1316817,
 ('KHARGONE', 'Madhya Pradesh'): 1152525,
 ('KHANDWA', 'Madhya Pradesh'): 1257327,
 ('BETUL', 'Madhya Pradesh'): 1047719,
 ('Nandurbar ', 'Maharashtra'): 1116676,
 ('Dhule', 'Maharashtra'): 983083,
 ('Jalgaon', 'Maharashtra'): 990332,
 ('Raver', 'Maharashtra'): 1009213,
 ('Buldhana', 'Maharashtra'): 978626,
 ('Akola', 'Maharashtra'): 978491,
 ('Amravati ', 'Maharashtra'): 1004061,
 ('Wardha', 'Maharashtra'): 1013445,
 ('Ramtek ', 'Maharashtra'): 1050316,
 ('Nagpur ', 'Maharashtra'): 1085038,
 ('Bhandara - gondiya', 'Maharashtra'): 1197196,
 ('Gadchiroli-Chimur', 'Maharashtra'): 1027129,
 ('Chandrapur', 'Maharashtra'): 1109743,
 ('Yavatmal-Washim', 'Maharashtra'): 1032949,
 ('Hingoli ', 'Maharashtra'): 1051164,
 ('Nanded', 'Maharashtra'): 1013350,
 ('Parbhani', 'Maharashtra'): 1162233,
 ('Jalna', 'Maharashtra'): 1066259,
 ('Dindori ', 'Maharashtra'): 970182,
 ('Nashik', 'Maharashtra'): 937405,
 ('Palghar ', 'Maharashtra'): 992618,
 ('Bhiwandi', 'Maharashtra'): 875605,
 ('Kalyan', 'Maharashtra'): 824196,
 ('Thane', 'Maharashtra'): 1054189,
 ('Mumbai North', 'Maharashtra'): 946562,
 ('Mumbai North West', 'Maharashtra'): 895517,
 ('Mumbai North East', 'Maharashtra'): 861761,
 ('Mumbai North central', 'Maharashtra'): 845292,
 ('Mumbai South central', 'Maharashtra'): 768627,
 ('Mumbai   South', 'Maharashtra'): 779741,
 ('Raigad', 'Maharashtra'): 987766,
 ('Maval', 'Maharashtra'): 1174335,
 ('Pune', 'Maharashtra'): 993278,
 ('Baramati', 'Maharashtra'): 1066556,
 ('Shirur', 'Maharashtra'): 1089506,
 ('Ahmadnagar ', 'Maharashtra'): 1062318,
 ('Shirdi', 'Maharashtra'): 932645,
 ('Beed', 'Maharashtra'): 1232200,
 ('Osmanabad', 'Maharashtra'): 1118151,
 ('Latur ', 'Maharashtra'): 1057156,
 ('Solapur ', 'Maharashtra'): 951201,
 ('Madha', 'Maharashtra'): 1079619,
 ('Sangli', 'Maharashtra'): 1046659,
 ('Satara', 'Maharashtra'): 976681,
 ('Ratnagiri - sindhudurg', 'Maharashtra'): 896256,
 ('Kolhapur', 'Maharashtra'): 1260289,
 ('Hatkanangle', 'Maharashtra'): 1188871,
 ('Inner manipur', 'Manipur'): 640870,
 ('Outer manipur', 'Manipur'): 771766,
 ('Shillong', 'Meghalaya'): 619987,
 ('Tura ', 'Meghalaya'): 458071,
 ('MIZORAM', 'Mizoram'): 433201,
 ('Nagaland', 'Nagaland'): 1038910,
 ('Gurdaspur', 'Punjab'): 1042699,
 ('Amritsar', 'Punjab'): 1007196,
 ('Khadoor Sahib', 'Punjab'): 1040518,
 ('Jalandhar', 'Punjab'): 1040762,
 ('Hoshiarpur', 'Punjab'): 961297,
 ('Anandpur Sahib', 'Punjab'): 1086563,
 ('Ludhiana', 'Punjab'): 1100457,
 ('Fatehgarh Sahib', 'Punjab'): 1030954,
 ('Faridkot', 'Punjab'): 1032107,
 ('Firozpur', 'Punjab'): 1105412,
 ('Bathinda', 'Punjab'): 1176767,
 ('Sangrur', 'Punjab'): 1099467,
 ('Patiala', 'Punjab'): 1120933,
 ('Ganganagar', 'Rajasthan'): 1256806,
 ('Bikaner', 'Rajasthan'): 929751,
 ('Churu', 'Rajasthan'): 1131104,
 ('Jhunjhunu', 'Rajasthan'): 1006465,
 ('Sikar', 'Rajasthan'): 1065750,
 ('Jaipur Rural', 'Rajasthan'): 1013691,
 ('Jaipur', 'Rajasthan'): 1296806,
 ('Alwar', 'Rajasthan'): 1062305,
 ('BHARATPUR', 'Rajasthan'): 962432,
 ('KARAULI-DHOLPUR', 'Rajasthan'): 845941,
 ('Dausa', 'Rajasthan'): 930492,
 ('TONK-SAWAI MADHOPUR', 'Rajasthan'): 1043638,
 ('Ajmer', 'Rajasthan'): 1156314,
 ('Nagaur', 'Rajasthan'): 1004019,
 ('Pali', 'Rajasthan'): 1095587,
 ('Jodhpur', 'Rajasthan'): 1078598,
 ('Barmer', 'Rajasthan'): 1219119,
 ('Jalore', 'Rajasthan'): 1087272,
 ('Udaipur', 'Rajasthan'): 1193202,
 ('Banswara', 'Rajasthan'): 1171188,
 ('Chittorgarh', 'Rajasthan'): 1172629,
 ('Rajsamand', 'Rajasthan'): 982119,
 ('Bhilwara', 'Rajasthan'): 1104090,
 ('Kota', 'Rajasthan'): 1154960,
 ('JHALAWAR-BARAN', 'Rajasthan'): 1146364,
 ('Sikkim', 'Sikkim'): 308967,
 ('Thiruvallur ', 'Tamil Nadu'): 1254440,
 ('Chennai North', 'Tamil Nadu'): 910114,
 ('Chennai South', 'Tamil Nadu'): 1071409,
 ('Chennai central', 'Tamil Nadu'): 814894,
 ('Sriperumbudur', 'Tamil Nadu'): 1286647,
 ('Kancheepuram ', 'Tamil Nadu'): 1128399,
 ('Arakkonam', 'Tamil Nadu'): 1089052,
 ('Vellore', 'Tamil Nadu'): 974770,
 ('Krishnagiri', 'Tamil Nadu'): 1068391,
 ('Dharmapuri', 'Tamil Nadu'): 1101345,
 ('Tiruvannamalai', 'Tamil Nadu'): 1067447,
 ('Arani', 'Tamil Nadu'): 1096046,
 ('Viluppuram', 'Tamil Nadu'): 1067641,
 ('Kallakurichi', 'Tamil Nadu'): 1107241,
 ('Salem', 'Tamil Nadu'): 1150296,
 ('Namakkal', 'Tamil Nadu'): 1058755,
 ('Erode', 'Tamil Nadu'): 1008582,
 ('Tiruppur', 'Tamil Nadu'): 1050190,
 ('Nilgiris ', 'Tamil Nadu'): 933076,
 ('Coimbatore', 'Tamil Nadu'): 1176620,
 ('Pollachi', 'Tamil Nadu'): 1012667,
 ('Dindigul', 'Tamil Nadu'): 1083364,
 ('Karur', 'Tamil Nadu'): 1046534,
 ('Tiruchirappalli', 'Tamil Nadu'): 988250,
 ('Perambalur', 'Tamil Nadu'): 1030826,
 ('Cuddalore ', 'Tamil Nadu'): 984538,
 ('Chidambaram ', 'Tamil Nadu'): 1088423,
 ('Mayiladuthurai', 'Tamil Nadu'): 1025538,
 ('Nagapattinam ', 'Tamil Nadu'): 942202,
 ('Thanjavur', 'Tamil Nadu'): 1012258,
 ('Sivaganga', 'Tamil Nadu'): 1027036,
 ('Madurai', 'Tamil Nadu'): 974809,
 ('Theni ', 'Tamil Nadu'): 1075583,
 ('Virudhunagar', 'Tamil Nadu'): 1010930,
 ('Ramanathapuram', 'Tamil Nadu'): 1001048,
 ('Thoothukkudi', 'Tamil Nadu'): 916778,
 ('Tenkasi ', 'Tamil Nadu'): 1017938,
 ('Tirunelveli', 'Tamil Nadu'): 962330,
 ('Kanniyakumari', 'Tamil Nadu'): 990742,
 ('Tripura West', 'Tripura'): 1072749,
 ('Tripura East', 'Tripura'): 951080,
 ('Saharanpur', 'Uttar Pradesh'): 1194308,
 ('Kairana', 'Uttar Pradesh'): 1119324,
 ('Muzaffarnagar', 'Uttar Pradesh'): 1107434,
 ('Bijnor', 'Uttar Pradesh'): 1060346,
 ('Nagina', 'Uttar Pradesh'): 942196,
 ('Moradabad', 'Uttar Pradesh'): 1127965,
 ('Rampur', 'Uttar Pradesh'): 956389,
 ('Sambhal', 'Uttar Pradesh'): 1057002,
 ('Amroha', 'Uttar Pradesh'): 1095860,
 ('Meerut', 'Uttar Pradesh'): 1113384,
 ('Baghpat', 'Uttar Pradesh'): 1004263,
 ('Ghaziabad', 'Uttar Pradesh'): 1342321,
 ('Gautam Buddha Nagar', 'Uttar Pradesh'): 1199262,
 ('Bulandshahr', 'Uttar Pradesh'): 1009710,
 ('Aligarh', 'Uttar Pradesh'): 1064357,
 ('Hathras', 'Uttar Pradesh'): 1049273,
 ('Mathura', 'Uttar Pradesh'): 1076868,
 ('Agra', 'Uttar Pradesh'): 1070400,
 ('Fatehpur Sikri', 'Uttar Pradesh'): 967968,
 ('Firozabad', 'Uttar Pradesh'): 1104606,
 ('Mainpuri', 'Uttar Pradesh'): 999265,
 ('Etah', 'Uttar Pradesh'): 926281,
 ('Badaun', 'Uttar Pradesh'): 1027594,
 ('Aonla', 'Uttar Pradesh'): 995641,
 ('Bareilly', 'Uttar Pradesh'): 1017891,
 ('Pilibhit', 'Uttar Pradesh'): 1050547,
 ('Shahjahanpur', 'Uttar Pradesh'): 1129841,
 ('Kheri', 'Uttar Pradesh'): 1077868,
 ('Dhaurahra', 'Uttar Pradesh'): 1060271,
 ('Sitapur', 'Uttar Pradesh'): 1026972,
 ('Hardoi', 'Uttar Pradesh'): 972896,
 ('Misrikh', 'Uttar Pradesh'): 998314,
 ('Unnao', 'Uttar Pradesh'): 1201603,
 ('Mohanlalganj', 'Uttar Pradesh'): 1116588,
 ('Lucknow', 'Uttar Pradesh'): 1033883,
 ('Rae Bareli', 'Uttar Pradesh'): 825136,
 ('Amethi', 'Uttar Pradesh'): 874625,
 ('Sultanpur', 'Uttar Pradesh'): 964981,
 ('Pratapgarh', 'Uttar Pradesh'): 894456,
 ('Farrukhabad', 'Uttar Pradesh'): 970677,
 ('Etawah', 'Uttar Pradesh'): 939604,
 ('Kannauj', 'Uttar Pradesh'): 1114460,
 ('Kanpur', 'Uttar Pradesh'): 835079,
 ('Akbarpur', 'Uttar Pradesh'): 971375,
 ('Jalaun', 'Uttar Pradesh'): 1109166,
 ('Jhansi', 'Uttar Pradesh'): 1320804,
 ('Banda', 'Uttar Pradesh'): 858326,
 ('Fatehpur', 'Uttar Pradesh'): 1056688,
 ('Kaushambi', 'Uttar Pradesh'): 910414,
 ('Phulpur', 'Uttar Pradesh'): 960341,
 ('Allahabad', 'Uttar Pradesh'): 891586,
 ('Barabanki', 'Uttar Pradesh'): 1068168,
 ('Faizabad', 'Uttar Pradesh'): 1022716,
 ('Ambedkar Nagar', 'Uttar Pradesh'): 1034404,
 ('Bahraich', 'Uttar Pradesh'): 934263,
 ('Kaiserganj', 'Uttar Pradesh'): 943357,
 ('Shrawasti', 'Uttar Pradesh'): 979638,
 ('Gonda', 'Uttar Pradesh'): 873728,
 ('Domariyaganj', 'Uttar Pradesh'): 935027,
 ('Basti', 'Uttar Pradesh'): 1048534,
 ('Sant Kabir Nagar', 'Uttar Pradesh'): 1011649,
 ('Gorakhpur', 'Uttar Pradesh'): 1040199,
 ('Kushi Nagar', 'Uttar Pradesh'): 950446,
 ('Deoria', 'Uttar Pradesh'): 971557,
 ('Bansgaon', 'Uttar Pradesh'): 877877,
 ('Lalganj', 'Uttar Pradesh'): 898655,
 ('Azamgarh', 'Uttar Pradesh'): 960218,
 ('Ghosi', 'Uttar Pradesh'): 1039656,
 ('Salempur', 'Uttar Pradesh'): 854749,
 ('Ballia', 'Uttar Pradesh'): 942211,
 ('Jaunpur', 'Uttar Pradesh'): 1007143,
 ('Machhlishahr', 'Uttar Pradesh'): 997902,
 ('Ghazipur', 'Uttar Pradesh'): 986673,
 ('Chandauli', 'Uttar Pradesh'): 980572,
 ('Varanasi', 'Uttar Pradesh'): 1030685,
 ('Bhadohi', 'Uttar Pradesh'): 981866,
 ('Mirzapur', 'Uttar Pradesh'): 1007627,
 ('Robertsganj', 'Uttar Pradesh'): 885873,
 ('Cooch behar', 'West Bengal'): 1332409,
 ('Alipurduars', 'West Bengal'): 1223566,
 ('Jalpaiguri', 'West Bengal'): 1302117,
 ('Darjeeling', 'West Bengal'): 1142009,
 ('Raiganj', 'West Bengal'): 1108193,
 ('Balurghat', 'West Bengal'): 1063053,
 ('Maldaha Uttar', 'West Bengal'): 1162985,
 ('Maldaha Dakshin', 'West Bengal'): 1092407,
 ('Jangipur', 'West Bengal'): 1119084,
 ('Baharampur', 'West Bengal'): 1154587,
 ('Murshidabad', 'West Bengal'): 1287763,
 ('Krishnanagar', 'West Bengal'): 1247914,
 ('Ranaghat', 'West Bengal'): 1353196,
 ('Bangaon', 'West Bengal'): 1283688,
 ('Barrackpore', 'West Bengal'): 1051130,
 ('Dum dum', 'West Bengal'): 1132644,
 ('Barasat', 'West Bengal'): 1269331,
 ('Basirhat', 'West Bengal'): 1273771,
 ('Joynagar', 'West Bengal'): 1189048,
 ('Mathurapur', 'West Bengal'): 1270985,
 ('Diamond harbour', 'West Bengal'): 1261296,
 ('Jadavpur', 'West Bengal'): 1272362,
 ('Kolkata Dakshin', 'West Bengal'): 1167986,
 ('Kolkata Uttar', 'West Bengal'): 955778,
 ('Howrah', 'West Bengal'): 1125399,
 ('Uluberia', 'West Bengal'): 1186027,
 ('Srerampur', 'West Bengal'): 1290433,
 ('Hooghly', 'West Bengal'): 1348870,
 ('Arambagh', 'West Bengal'): 1361934,
 ('Tamluk', 'West Bengal'): 1337684,
 ('Kanthi', 'West Bengal'): 1290811,
 ('Ghatal', 'West Bengal'): 1366909,
 ('Jhargram', 'West Bengal'): 1257613,
 ('Medinipur', 'West Bengal'): 1260748,
 ('Purulia', 'West Bengal'): 1204675,
 ('Bankura', 'West Bengal'): 1236319,
 ('Bishnupur', 'West Bengal'): 1272070,
 ('Bardhaman Purba', 'West Bengal'): 1320822,
 ('Burdwan - durgapur', 'West Bengal'): 1331242,
 ('Asansol', 'West Bengal'): 1142395,
 ('Bolpur', 'West Bengal'): 1304756,
 ('Birbhum', 'West Bengal'): 1275819,
 ('Rajmahal', 'Jharkhand'): 951563,
 ('Dumka', 'Jharkhand'): 903060,
 ('Godda', 'Jharkhand'): 1049442,
 ('Chatra', 'Jharkhand'): 712971,
 ('Kodarma', 'Jharkhand'): 1024906,
 ('Giridih', 'Jharkhand'): 969997,
 ('Dhanbad', 'Jharkhand'): 1143902,
 ('Ranchi', 'Jharkhand'): 1049783,
 ('Jamshedpur', 'Jharkhand'): 1049140,
 ('Singhbhum', 'Jharkhand'): 795286,
 ('Khunti', 'Jharkhand'): 736955,
 ('Lohardaga', 'Jharkhand'): 651460,
 ('Palamau', 'Jharkhand'): 977323,
 ('Hazaribagh', 'Jharkhand'): 967152,
 ('Tehri Garhwal', 'Uttarakhand'): 776214,
 ('Garhwal', 'Uttarakhand'): 682024,
 ('Almora', 'Uttarakhand'): 656525,
 ('Nainital-udhamsingh Nagar', 'Uttarakhand'): 1101435,
 ('Hardwar', 'Uttarakhand'): 1175692,
 ('Andaman & Nicobar Islands', 'Andaman & Nicobar Islands'): 190328,
 ('CHANDIGARH', 'Chandigarh'): 453455,
 ('Dadar & Nagar Haveli', 'Dadra & Nagar Haveli'): 165286,
 ('Daman & diu', 'Daman & Diu'): 87233,
 ('CHANDNI CHOWK                 ', 'NCT OF Delhi'): 981863,
 ('NORTH EAST DELHI              ', 'NCT OF Delhi'): 1317338,
 ('EAST DELHI                    ', 'NCT OF Delhi'): 1196336,
 ('NEW DELHI                     ', 'NCT OF Delhi'): 969812,
 ('NORTH WEST DELHI              ', 'NCT OF Delhi'): 1356036,
 ('WEST DELHI                    ', 'NCT OF Delhi'): 1347971,
 ('SOUTH DELHI                   ', 'NCT OF Delhi'): 1102410,
 ('Lakshadweep', 'Lakshadweep'): 43239,
 ('Puducherry', 'Puducherry'): 740017}

In [14]:
# Initialize the "Total_vote_pc" column with zeros
df14["Total_vote_pc"] = 0

# Iterate over the dictionary items and assign values to the DataFrame
for key, value in Total_vote_pc.items():
    pc_name, state = key
    df14.loc[(df14["state"] == state) & (df14["pc_name"] == pc_name), "Total_vote_pc"] = value

df14

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,1045839
1,Telangana,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282,1045839
2,Telangana,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282,1045839
3,Telangana,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282,1045839
4,Telangana,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282,1045839
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357,740017
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357,740017
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357,740017
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357,740017
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357,740017

In [15]:
df14["Voter Turnout Ratio"] = df14["Total_vote_pc"]/df14["total_electors"]
df14

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,1045839,0.754420
1,Telangana,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282,1045839,0.754420
2,Telangana,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282,1045839,0.754420
3,Telangana,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282,1045839,0.754420
4,Telangana,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282,1045839,0.754420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357,740017,0.821003
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357,740017,0.821003
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357,740017,0.821003
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357,740017,0.821003
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357,740017,0.821003

In [16]:
Top_5_2014 = sorted(df14["Voter Turnout Ratio"].unique())[-5:]
Top_5_2014

[0.8661311646168022,
 0.8671700793703274,
 0.8758643674051725,
 0.8782202790936725,
 0.8835337634808144]

In [17]:
Bottom_5_2014 = sorted(df14["Voter Turnout Ratio"].unique())[:5]
Bottom_5_2014

[0.2586184902628331,
 0.2884225638534734,
 0.3913380126741946,
 0.42881447466590084,
 0.45331404152295]

## Cleaning and adding Voter Turnout Ratio to data frame of 2019 AKA df19

### Two states can have same name pc_name like ['Maharajganj', 'Aurangabad', 'Hamirpur']

In [18]:
# Total vote per pc_name
Total_vote_pc = dict()
# filtering all parliament constituency
for pc in df19.pc_name.unique():
    pcdf = df19[df19["pc_name"]==pc]
    # filtering to check if parliament constituency is in two states 
    for state in pcdf.state.unique():
        total = 0
        s_pcdf = pcdf[pcdf["state"]==state]
        for i in range(len(s_pcdf)):
            total += s_pcdf.iloc[i,10]
        Total_vote_pc[(pc, state)] = total
Total_vote_pc

{('Aruku ', 'Andhra Pradesh'): 1074538,
 ('Srikakulam', 'Andhra Pradesh'): 1157329,
 ('Vizianagaram', 'Andhra Pradesh'): 1217890,
 ('Visakhapatnam', 'Andhra Pradesh'): 1239754,
 ('Anakapalli', 'Andhra Pradesh'): 1238491,
 ('Kakinada', 'Andhra Pradesh'): 1234655,
 ('Amalapuram ', 'Andhra Pradesh'): 1232895,
 ('Rajahmundry', 'Andhra Pradesh'): 1250427,
 ('Narsapuram', 'Andhra Pradesh'): 1177738,
 ('Eluru ', 'Andhra Pradesh'): 1327923,
 ('Machilipatnam ', 'Andhra Pradesh'): 1244570,
 ('Vijayawada', 'Andhra Pradesh'): 1277711,
 ('Guntur', 'Andhra Pradesh'): 1351474,
 ('Narasaraopet', 'Andhra Pradesh'): 1437420,
 ('Bapatla ', 'Andhra Pradesh'): 1266492,
 ('Ongole ', 'Andhra Pradesh'): 1342368,
 ('Nandyal', 'Andhra Pradesh'): 1299093,
 ('Kurnool', 'Andhra Pradesh'): 1188327,
 ('Anantapur', 'Andhra Pradesh'): 1342306,
 ('Hindupur', 'Andhra Pradesh'): 1338514,
 ('Kadapa', 'Andhra Pradesh'): 1228242,
 ('Nellore', 'Andhra Pradesh'): 1287036,
 ('Tirupati ', 'Andhra Pradesh'): 1313515,
 ('Rajampet', 'Andhra Pradesh'): 1224354,
 ('Chittoor ', 'Andhra Pradesh'): 1319472,
 ('ARUNACHAL WEST', 'Arunachal Pradesh'): 358310,
 ('ARUNACHAL EAST', 'Arunachal Pradesh'): 293781,
 ('Karimganj ', 'Assam'): 1060072,
 ('Silchar', 'Assam'): 949696,
 ('Autonomous District', 'Assam'): 617735,
 ('Dhubri', 'Assam'): 1685005,
 ('Kokrajhar', 'Assam'): 1479485,
 ('Barpeta', 'Assam'): 1458549,
 ('Gauhati', 'Assam'): 1763757,
 ('Mangaldoi', 'Assam'): 1506107,
 ('Tezpur', 'Assam'): 1190196,
 ('Nowgong', 'Assam'): 1493475,
 ('Kaliabor', 'Assam'): 1424687,
 ('Jorhat', 'Assam'): 1057965,
 ('Dibrugarh', 'Assam'): 1015748,
 ('Lakhimpur', 'Assam'): 1283589,
 ('Valmiki Nagar', 'Bihar'): 1032090,
 ('Paschim Champaran', 'Bihar'): 1012936,
 ('Purvi Champaran', 'Bihar'): 999400,
 ('Sheohar', 'Bihar'): 1004559,
 ('Sitamarhi', 'Bihar'): 1038849,
 ('Madhubani', 'Bihar'): 963708,
 ('Jhanjharpur', 'Bihar'): 1060562,
 ('Supaul', 'Bihar'): 1110805,
 ('Araria', 'Bihar'): 1169630,
 ('Kishanganj', 'Bihar'): 1101603,
 ('Katihar', 'Bihar'): 1117734,
 ('Purnia', 'Bihar'): 1153940,
 ('Madhepura', 'Bihar'): 1147274,
 ('Darbhanga', 'Bihar'): 964996,
 ('Muzaffarpur', 'Bihar'): 1058086,
 ('Vaishali', 'Bihar'): 1074730,
 ('Gopalganj (SC)', 'Bihar'): 1024876,
 ('Siwan', 'Bihar'): 984810,
 ('Maharajganj', 'Bihar'): 972703,
 ('Maharajganj', 'Uttar Pradesh'): 1226916,
 ('Saran', 'Bihar'): 943020,
 ('Hajipur (SC)', 'Bihar'): 1006817,
 ('Ujiarpur', 'Bihar'): 969284,
 ('Samastipur (SC)', 'Bihar'): 1019025,
 ('Begusarai', 'Bihar'): 1225594,
 ('Khagaria', 'Bihar'): 966813,
 ('Bhagalpur', 'Bihar'): 1042518,
 ('Banka', 'Bihar'): 995806,
 ('Munger', 'Bihar'): 1036268,
 ('Nalanda', 'Bihar'): 1031286,
 ('Patna Sahib', 'Bihar'): 982285,
 ('Pataliputra', 'Bihar'): 1077749,
 ('Arrah', 'Bihar'): 1080684,
 ('Buxar', 'Bihar'): 986861,
 ('Sasaram (SC)', 'Bihar'): 974749,
 ('Karakat', 'Bihar'): 868798,
 ('Jahanabad', 'Bihar'): 822065,
 ('Aurangabad', 'Bihar'): 934901,
 ('Aurangabad', 'Maharashtra'): 1198221,
 ('Gaya (SC)', 'Bihar'): 957248,
 ('Nawada', 'Bihar'): 942462,
 ('Jamui (SC)', 'Bihar'): 949137,
 ('North Goa', 'Goa'): 428628,
 ('South Goa', 'Goa'): 424575,
 ('Kachchh', 'Gujarat'): 1023198,
 ('Banaskantha', 'Gujarat'): 1102081,
 ('Patan', 'Gujarat'): 1126256,
 ('Mahesana', 'Gujarat'): 1081938,
 ('Sabarkantha', 'Gujarat'): 1218353,
 ('Gandhinagar', 'Gujarat'): 1284090,
 ('Ahmedabad East', 'Gujarat'): 1116367,
 ('Ahmedabad West', 'Gujarat'): 997024,
 ('Surendranagar', 'Gujarat'): 1077726,
 ('Rajkot', 'Gujarat'): 1195271,
 ('Porbandar', 'Gujarat'): 949947,
 ('Jamnagar', 'Gujarat'): 1010965,
 ('Junagadh', 'Gujarat'): 1004743,
 ('Amreli', 'Gujarat'): 909167,
 ('Bhavnagar', 'Gujarat'): 1041279,
 ('Anand', 'Gujarat'): 1108661,
 ('Kheda', 'Gujarat'): 1098633,
 ('Panchmahal', 'Gujarat'): 1083676,
 ('Dahod', 'Gujarat'): 1063212,
 ('Vadodara', 'Gujarat'): 1222348,
 ('Chhota Udaipur', 'Gujarat'): 1232459,
 ('Bharuch', 'Gujarat'): 1149725,
 ('Bardoli', 'Gujarat'): 1348038,
 ('Surat', 'Gujarat'): 1068412,
 ('Navsari', 'Gujarat'): 1308018,
 ('Valsad', 'Gujarat'): 1260377,
 ('Ambala', 'Haryana'): 1316235,
 ('Kurukshetra', 'Haryana'): 1230202,
 ('Sirsa', 'Haryana'): 1369486,
 ('Hisar', 'Haryana'): 1179869,
 ('Karnal', 'Haryana'): 1300722,
 ('Sonipat', 'Haryana'): 1129532,
 ('Rohtak', 'Haryana'): 1220571,
 ('Bhiwani-Mahendragarh', 'Haryana'): 1161115,
 ('Gurgaon', 'Haryana'): 1446509,
 ('Faridabad', 'Haryana'): 1327295,
 ('Kangra', 'Himachal Pradesh'): 1006989,
 ('Mandi', 'Himachal Pradesh'): 941371,
 ('Hamirpur', 'Himachal Pradesh'): 988765,
 ('Hamirpur', 'Uttar Pradesh'): 1089778,
 ('Shimla', 'Himachal Pradesh'): 913607,
 ('Baramulla', 'Jammu & Kashmir'): 455550,
 ('Srinagar', 'Jammu & Kashmir'): 186832,
 ('Anantnag', 'Jammu & Kashmir'): 124896,
 ('Ladakh', 'Jammu & Kashmir'): 126426,
 ('Udhampur', 'Jammu & Kashmir'): 1180123,
 ('Jammu', 'Jammu & Kashmir'): 1478795,
 ('Chikkodi', 'Karnataka'): 1217549,
 ('Belgaum', 'Karnataka'): 1205229,
 ('Bagalkot', 'Karnataka'): 1204613,
 ('Bijapur', 'Karnataka'): 1111354,
 ('Gulbarga', 'Karnataka'): 1189361,
 ('Raichur', 'Karnataka'): 1124385,
 ('Bidar', 'Karnataka'): 1117167,
 ('Koppal', 'Karnataka'): 1190347,
 ('Bellary', 'Karnataka'): 1221926,
 ('Haveri', 'Karnataka'): 1266679,
 ('Dharwad', 'Karnataka'): 1213505,
 ('Uttara Kannada', 'Karnataka'): 1153480,
 ('Davanagere', 'Karnataka'): 1194586,
 ('Shimoga', 'Karnataka'): 1283577,
 ('Udupi Chikmagalur', 'Karnataka'): 1151012,
 ('Hassan', 'Karnataka'): 1277552,
 ('Dakshina Kannada', 'Karnataka'): 1345039,
 ('Chitradurga', 'Karnataka'): 1245950,
 ('Tumkur', 'Karnataka'): 1244858,
 ('Mandya', 'Karnataka'): 1379210,
 ('Mysore', 'Karnataka'): 1318041,
 ('Chamarajanagar', 'Karnataka'): 1270658,
 ('Bangalore Rural', 'Karnataka'): 1621906,
 ('Bangalore North', 'Karnataka'): 1559459,
 ('Bangalore central', 'Karnataka'): 1197234,
 ('Bangalore South', 'Karnataka'): 1188491,
 ('Chikkballapur', 'Karnataka'): 1386963,
 ('Kolar', 'Karnataka'): 1258551,
 ('Kasaragod', 'Kerala'): 1100051,
 ('Kannur', 'Kerala'): 1053842,
 ('Vadakara', 'Kerala'): 1065619,
 ('Wayanad', 'Kerala'): 1092197,
 ('Kozhikode', 'Kerala'): 1076193,
 ('Malappuram', 'Kerala'): 1034618,
 ('Ponnani', 'Kerala'): 1017265,
 ('Palakkad', 'Kerala'): 1028249,
 ('Alathur ', 'Kerala'): 1018743,
 ('Thrissur', 'Kerala'): 1041869,
 ('Chalakudy', 'Kerala'): 990224,
 ('Ernakulam', 'Kerala'): 967203,
 ('Idukki', 'Kerala'): 919297,
 ('Kottayam', 'Kerala'): 910339,
 ('Alappuzha', 'Kerala'): 1088728,
 ('Mavelikkara ', 'Kerala'): 971035,
 ('Pathanamthitta', 'Kerala'): 1026553,
 ('Kollam', 'Kerala'): 968123,
 ('Attingal', 'Kerala'): 1004888,
 ('Thiruvananthapuram', 'Kerala'): 1010180,
 ('MORENA', 'Madhya Pradesh'): 1137290,
 ('BHIND', 'Madhya Pradesh'): 960687,
 ('GWALIOR', 'Madhya Pradesh'): 1196096,
 ('GUNA', 'Madhya Pradesh'): 1178423,
 ('SAGAR', 'Madhya Pradesh'): 1037175,
 ('TIKAMGARH', 'Madhya Pradesh'): 1096712,
 ('DAMOH', 'Madhya Pradesh'): 1164226,
 ('KHAJURAHO', 'Madhya Pradesh'): 1257783,
 ('SATNA', 'Madhya Pradesh'): 1113656,
 ('REWA', 'Madhya Pradesh'): 1013251,
 ('SIDHI', 'Madhya Pradesh'): 1282705,
 ('SHAHDOL', 'Madhya Pradesh'): 1237858,
 ('JABALPUR', 'Madhya Pradesh'): 1263573,
 ('MANDLA', 'Madhya Pradesh'): 1517255,
 ('BALAGHAT', 'Madhya Pradesh'): 1372018,
 ('CHHINDWARA', 'Madhya Pradesh'): 1248031,
 ('HOSHANGABAD', 'Madhya Pradesh'): 1265869,
 ('VIDISHA', 'Madhya Pradesh'): 1250244,
 ('BHOPAL', 'Madhya Pradesh'): 1407954,
 ('RAJGARH', 'Madhya Pradesh'): 1260329,
 ('DEWAS', 'Madhya Pradesh'): 1398946,
 ('UJJAIN', 'Madhya Pradesh'): 1252511,
 ('MANDSOUR', 'Madhya Pradesh'): 1370667,
 ('RATLAM', 'Madhya Pradesh'): 1400509,
 ('DHAR', 'Madhya Pradesh'): 1344132,
 ('INDORE', 'Madhya Pradesh'): 1629108,
 ('KHARGONE', 'Madhya Pradesh'): 1427607,
 ('KHANDWA', 'Madhya Pradesh'): 1468138,
 ('BETUL', 'Madhya Pradesh'): 1357857,
 ('Nandurbar ', 'Maharashtra'): 1281738,
 ('Dhule', 'Maharashtra'): 1085038,
 ('Jalgaon', 'Maharashtra'): 1088277,
 ('Raver', 'Maharashtra'): 1092971,
 ('Buldhana', 'Maharashtra'): 1120359,
 ('Akola', 'Maharashtra'): 1119440,
 ('Amravati ', 'Maharashtra'): 1112385,
 ('Wardha', 'Maharashtra'): 1072570,
 ('Ramtek ', 'Maharashtra'): 1196744,
 ('Nagpur ', 'Maharashtra'): 1186051,
 ('Bhandara - gondiya', 'Maharashtra'): 1244931,
 ('Gadchiroli-Chimur', 'Maharashtra'): 1142698,
 ('Chandrapur', 'Maharashtra'): 1238474,
 ('Yavatmal-Washim', 'Maharashtra'): 1174220,
 ('Hingoli ', 'Maharashtra'): 1157516,
 ('Nanded', 'Maharashtra'): 1129350,
 ('Parbhani', 'Maharashtra'): 1252782,
 ('Jalna', 'Maharashtra'): 1208139,
 ('Dindori ', 'Maharashtra'): 1137631,
 ('Nashik', 'Maharashtra'): 1121232,
 ('Palghar ', 'Maharashtra'): 1201941,
 ('Bhiwandi', 'Maharashtra'): 1005172,
 ('Kalyan', 'Maharashtra'): 890313,
 ('Thane', 'Maharashtra'): 1170518,
 ('Mumbai North', 'Maharashtra'): 989759,
 ('Mumbai North West', 'Maharashtra'): 941497,
 ('Mumbai North East', 'Maharashtra'): 908993,
 ('Mumbai North central', 'Maharashtra'): 901784,
 ('Mumbai South central', 'Maharashtra'): 797250,
 ('Mumbai   South', 'Maharashtra'): 801611,
 ('Raigad', 'Maharashtra'): 1025467,
 ('Maval', 'Maharashtra'): 1368872,
 ('Pune', 'Maharashtra'): 1035236,
 ('Baramati', 'Maharashtra'): 1304728,
 ('Shirur', 'Maharashtra'): 1293117,
 ('Ahmadnagar ', 'Maharashtra'): 1203797,
 ('Shirdi', 'Maharashtra'): 1029362,
 ('Beed', 'Maharashtra'): 1352399,
 ('Osmanabad', 'Maharashtra'): 1204730,
 ('Latur ', 'Maharashtra'): 1176542,
 ('Solapur ', 'Maharashtra'): 1084514,
 ('Madha', 'Maharashtra'): 1216319,
 ('Sangli', 'Maharashtra'): 1189958,
 ('Satara', 'Maharashtra'): 1115434,
 ('Ratnagiri - sindhudurg', 'Maharashtra'): 901102,
 ('Kolhapur', 'Maharashtra'): 1330852,
 ('Hatkanangle', 'Maharashtra'): 1252211,
 ('Inner manipur', 'Manipur'): 759301,
 ('Outer manipur', 'Manipur'): 858029,
 ('Shillong', 'Meghalaya'): 784190,
 ('Tura ', 'Meghalaya'): 583041,
 ('MIZORAM', 'Mizoram'): 499621,
 ('Nagaland', 'Nagaland'): 1006357,
 ('Bargarh', 'Odisha'): 1247912,
 ('Sundargarh ', 'Odisha'): 1100129,
 ('Sambalpur', 'Odisha'): 1124455,
 ('Keonjhar ', 'Odisha'): 1176292,
 ('Mayurbhanj ', 'Odisha'): 1150357,
 ('Balasore', 'Odisha'): 1157871,
 ('Bhadrak ', 'Odisha'): 1225156,
 ('Jajpur ', 'Odisha'): 1092084,
 ('Dhenkanal', 'Odisha'): 1131522,
 ('Bolangir', 'Odisha'): 1306705,
 ('Kalahandi', 'Odisha'): 1228292,
 ('Nabarangpur ', 'Odisha'): 1159700,
 ('Kandhamal', 'Odisha'): 941985,
 ('Cuttack', 'Odisha'): 1059490,
 ('Kendrapara ', 'Odisha'): 1238214,
 ('Jagatsinghpur ', 'Odisha'): 1229190,
 ('Puri', 'Odisha'): 1135620,
 ('Bhubaneswar', 'Odisha'): 1005215,
 ('Aska', 'Odisha'): 1013862,
 ('Berhampur', 'Odisha'): 989910,
 ('Koraput ', 'Odisha'): 1080161,
 ('Gurdaspur', 'Punjab'): 1103887,
 ('Amritsar', 'Punjab'): 859513,
 ('Khadoor Sahib', 'Punjab'): 1046032,
 ('Jalandhar', 'Punjab'): 1018998,
 ('Hoshiarpur', 'Punjab'): 990791,
 ('Anandpur Sahib', 'Punjab'): 1081727,
 ('Ludhiana', 'Punjab'): 1046955,
 ('Fatehgarh Sahib', 'Punjab'): 985948,
 ('Faridkot', 'Punjab'): 974947,
 ('Firozpur', 'Punjab'): 1172033,
 ('Bathinda', 'Punjab'): 1200810,
 ('Sangrur', 'Punjab'): 1105888,
 ('Patiala', 'Punjab'): 1177903,
 ('Ganganagar', 'Rajasthan'): 1451765,
 ('Bikaner (SC)', 'Rajasthan'): 1099598,
 ('Churu', 'Rajasthan'): 1328422,
 ('Jhunjhunu', 'Rajasthan'): 1198927,
 ('Sikar', 'Rajasthan'): 1326969,
 ('Jaipur Rural', 'Rajasthan'): 1276693,
 ('Jaipur', 'Rajasthan'): 1456404,
 ('Alwar', 'Rajasthan'): 1265674,
 ('BHARATPUR', 'Rajasthan'): 1146797,
 ('KARAULI-DHOLPUR', 'Rajasthan'): 998044,
 ('Dausa', 'Rajasthan'): 1062834,
 ('TONK-SAWAI MADHOPUR', 'Rajasthan'): 1233458,
 ('Ajmer', 'Rajasthan'): 1262214,
 ('Nagaur', 'Rajasthan'): 1203124,
 ('Pali', 'Rajasthan'): 1359799,
 ('Jodhpur', 'Rajasthan'): 1346243,
 ('Barmer', 'Rajasthan'): 1422271,
 ('Jalore', 'Rajasthan'): 1361619,
 ('Udaipur', 'Rajasthan'): 1454518,
 ('Banswara', 'Rajasthan'): 1439671,
 ('Chittorgarh', 'Rajasthan'): 1458760,
 ('Rajsamand', 'Rajasthan'): 1239845,
 ('Bhilwara', 'Rajasthan'): 1310513,
 ('Kota', 'Rajasthan'): 1367034,
 ('JHALAWAR-BARAN', 'Rajasthan'): 1369868,
 ('Sikkim', 'Sikkim'): 351746,
 ('Thiruvallur ', 'Tamil Nadu'): 1408189,
 ('Chennai North', 'Tamil Nadu'): 955545,
 ('Chennai South', 'Tamil Nadu'): 1125857,
 ('Chennai central', 'Tamil Nadu'): 785450,
 ('Sriperumbudur', 'Tamil Nadu'): 1406782,
 ('Kancheepuram ', 'Tamil Nadu'): 1237612,
 ('Arakkonam', 'Tamil Nadu'): 1178060,
 ('Vellore', 'Tamil Nadu'): 1026055,
 ('Krishnagiri', 'Tamil Nadu'): 1161369,
 ('Dharmapuri', 'Tamil Nadu'): 1223205,
 ('Tiruvannamalai', 'Tamil Nadu'): 1151729,
 ('Arani', 'Tamil Nadu'): 1143907,
 ('Viluppuram', 'Tamil Nadu'): 1135540,
 ('Kallakurichi', 'Tamil Nadu'): 1204375,
 ('Salem', 'Tamil Nadu'): 1255459,
 ('Namakkal', 'Tamil Nadu'): 1133774,
 ('Erode', 'Tamil Nadu'): 1067863,
 ('Tiruppur', 'Tamil Nadu'): 1119584,
 ('Nilgiris ', 'Tamil Nadu'): 1010719,
 ('Coimbatore', 'Tamil Nadu'): 1250885,
 ('Pollachi', 'Tamil Nadu'): 1081875,
 ('Dindigul', 'Tamil Nadu'): 1160046,
 ('Karur', 'Tamil Nadu'): 1103165,
 ('Tiruchirappalli', 'Tamil Nadu'): 1048062,
 ('Perambalur', 'Tamil Nadu'): 1102767,
 ('Cuddalore ', 'Tamil Nadu'): 1043202,
 ('Chidambaram ', 'Tamil Nadu'): 1153192,
 ('Mayiladuthurai', 'Tamil Nadu'): 1097243,
 ('Nagapattinam ', 'Tamil Nadu'): 1002208,
 ('Thanjavur', 'Tamil Nadu'): 1059223,
 ('Sivaganga', 'Tamil Nadu'): 1084468,
 ('Madurai', 'Tamil Nadu'): 1016026,
 ('Theni ', 'Tamil Nadu'): 1173489,
 ('Virudhunagar', 'Tamil Nadu'): 1074735,
 ('Ramanathapuram', 'Tamil Nadu'): 1066146,
 ('Thoothukkudi', 'Tamil Nadu'): 991263,
 ('Tenkasi ', 'Tamil Nadu'): 1065088,
 ('Tirunelveli', 'Tamil Nadu'): 1040350,
 ('Kanniyakumari', 'Tamil Nadu'): 1048377,
 ('Tripura West', 'Tripura'): 1107755,
 ('Tripura East', 'Tripura'): 1045417,
 ('Saharanpur', 'Uttar Pradesh'): 1231746,
 ('Kairana', 'Uttar Pradesh'): 1124047,
 ('Muzaffarnagar', 'Uttar Pradesh'): 1160071,
 ('Bijnor', 'Uttar Pradesh'): 1100763,
 ('Nagina', 'Uttar Pradesh'): 1009456,
 ('Moradabad', 'Uttar Pradesh'): 1282206,
 ('Rampur', 'Uttar Pradesh'): 1060921,
 ('Sambhal', 'Uttar Pradesh'): 1183469,
 ('Amroha', 'Uttar Pradesh'): 1169182,
 ('Meerut', 'Uttar Pradesh'): 1216413,
 ('Baghpat', 'Uttar Pradesh'): 1044894,
 ('Ghaziabad', 'Uttar Pradesh'): 1524456,
 ('Gautam Buddha Nagar', 'Uttar Pradesh'): 1392952,
 ('Bulandshahr', 'Uttar Pradesh'): 1123629,
 ('Aligarh', 'Uttar Pradesh'): 1163184,
 ('Hathras', 'Uttar Pradesh'): 1150294,
 ('Mathura', 'Uttar Pradesh'): 1102731,
 ('Agra', 'Uttar Pradesh'): 1145323,
 ('Fatehpur Sikri', 'Uttar Pradesh'): 1037151,
 ('Firozabad', 'Uttar Pradesh'): 1075866,
 ('Mainpuri', 'Uttar Pradesh'): 976518,
 ('Etah', 'Uttar Pradesh'): 999607,
 ('Badaun', 'Uttar Pradesh'): 1081111,
 ('Aonla', 'Uttar Pradesh'): 1052795,
 ('Bareilly', 'Uttar Pradesh'): 1068342,
 ('Pilibhit', 'Uttar Pradesh'): 1186589,
 ('Shahjahanpur', 'Uttar Pradesh'): 1186157,
 ('Kheri', 'Uttar Pradesh'): 1136660,
 ('Dhaurahra', 'Uttar Pradesh'): 1063840,
 ('Sitapur', 'Uttar Pradesh'): 1064521,
 ('Hardoi', 'Uttar Pradesh'): 1057558,
 ('Misrikh', 'Uttar Pradesh'): 1026668,
 ('Unnao', 'Uttar Pradesh'): 1237076,
 ('Mohanlalganj', 'Uttar Pradesh'): 1269594,
 ('Lucknow', 'Uttar Pradesh'): 1116445,
 ('Rae Bareli', 'Uttar Pradesh'): 958556,
 ('Amethi', 'Uttar Pradesh'): 942453,
 ('Sultanpur', 'Uttar Pradesh'): 1000316,
 ('Pratapgarh', 'Uttar Pradesh'): 914665,
 ('Farrukhabad', 'Uttar Pradesh'): 1002953,
 ('Etawah', 'Uttar Pradesh'): 1027815,
 ('Kannauj', 'Uttar Pradesh'): 1140496,
 ('Kanpur', 'Uttar Pradesh'): 842994,
 ('Akbarpur', 'Uttar Pradesh'): 1025314,
 ('Jalaun', 'Uttar Pradesh'): 1129955,
 ('Jhansi', 'Uttar Pradesh'): 1380890,
 ('Banda', 'Uttar Pradesh'): 1034549,
 ('Fatehpur', 'Uttar Pradesh'): 1043655,
 ('Kaushambi', 'Uttar Pradesh'): 974438,
 ('Phulpur', 'Uttar Pradesh'): 978236,
 ('Allahabad', 'Uttar Pradesh'): 889056,
 ('Barabanki', 'Uttar Pradesh'): 1155341,
 ('Faizabad', 'Uttar Pradesh'): 1087121,
 ('Ambedkar Nagar', 'Uttar Pradesh'): 1090152,
 ('Bahraich', 'Uttar Pradesh'): 989848,
 ('Kaiserganj', 'Uttar Pradesh'): 981400,
 ('Shrawasti', 'Uttar Pradesh'): 997007,
 ('Gonda', 'Uttar Pradesh'): 923816,
 ('Domariyaganj', 'Uttar Pradesh'): 985269,
 ('Basti', 'Uttar Pradesh'): 1054539,
 ('Sant Kabir Nagar', 'Uttar Pradesh'): 1063390,
 ('Gorakhpur', 'Uttar Pradesh'): 1184635,
 ('Kushi Nagar', 'Uttar Pradesh'): 1053117,
 ('Deoria', 'Uttar Pradesh'): 1015363,
 ('Bansgaon', 'Uttar Pradesh'): 969136,
 ('Lalganj', 'Uttar Pradesh'): 960568,
 ('Azamgarh', 'Uttar Pradesh'): 1029112,
 ('Ghosi', 'Uttar Pradesh'): 1140781,
 ('Salempur', 'Uttar Pradesh'): 922518,
 ('Ballia', 'Uttar Pradesh'): 989732,
 ('Jaunpur', 'Uttar Pradesh'): 1040652,
 ('Machhlishahr', 'Uttar Pradesh'): 1034925,
 ('Ghazipur', 'Uttar Pradesh'): 1105627,
 ('Chandauli', 'Uttar Pradesh'): 1084961,
 ('Varanasi', 'Uttar Pradesh'): 1060476,
 ('Bhadohi', 'Uttar Pradesh'): 1039390,
 ('Mirzapur', 'Uttar Pradesh'): 1108965,
 ('Robertsganj', 'Uttar Pradesh'): 988287,
 ('Cooch behar', 'West Bengal'): 1524683,
 ('Alipurduars', 'West Bengal'): 1380217,
 ('Jalpaiguri', 'West Bengal'): 1500922,
 ('Darjeeling', 'West Bengal'): 1267270,
 ('Raiganj', 'West Bengal'): 1277109,
 ('Balurghat', 'West Bengal'): 1197849,
 ('Maldaha Uttar', 'West Bengal'): 1354706,
 ('Maldaha Dakshin', 'West Bengal'): 1279202,
 ('Jangipur', 'West Bengal'): 1304504,
 ('Baharampur', 'West Bengal'): 1299997,
 ('Murshidabad', 'West Bengal'): 1453755,
 ('Krishnanagar', 'West Bengal'): 1366443,
 ('Ranaghat', 'West Bengal'): 1484035,
 ('Bangaon', 'West Bengal'): 1407758,
 ('Barrackpore', 'West Bengal'): 1104517,
 ('Dum dum', 'West Bengal'): 1204660,
 ('Barasat', 'West Bengal'): 1395429,
 ('Basirhat', 'West Bengal'): 1433339,
 ('Jaynagar', 'West Bengal'): 1356102,
 ('Mathurapur', 'West Bengal'): 1401953,
 ('Diamond harbour', 'West Bengal'): 1409002,
 ('Jadavpur', 'West Bengal'): 1436894,
 ('Kolkata Dakshin', 'West Bengal'): 1206645,
 ('Kolkata Uttar', 'West Bengal'): 950613,
 ('Howrah', 'West Bengal'): 1222293,
 ('Uluberia', 'West Bengal'): 1311099,
 ('Srerampur', 'West Bengal'): 1401705,
 ('Hooghly', 'West Bengal'): 1457842,
 ('Arambagh', 'West Bengal'): 1471981,
 ('Tamluk', 'West Bengal'): 1446499,
 ('Kanthi', 'West Bengal'): 1424247,
 ('Ghatal', 'West Bengal'): 1488818,
 ('Jhargram', 'West Bengal'): 1406214,
 ('Medinipur', 'West Bengal'): 1409815,
 ('Purulia', 'West Bengal'): 1355236,
 ('Bankura', 'West Bengal'): 1371855,
 ('Bishnupur', 'West Bengal'): 1420648,
 ('Bardhaman Purba', 'West Bengal'): 1439286,
 ('Bardhaman Durgapur', 'West Bengal'): 1433007,
 ('Asansol', 'West Bengal'): 1238135,
 ('Bolpur', 'West Bengal'): 1461269,
 ('Birbhum', 'West Bengal'): 1449423,
 ('SARGUJA', 'Chhattisgarh'): 1280689,
 ('RAIGARH', 'Chhattisgarh'): 1350124,
 ('JANJGIR-CHAMPA', 'Chhattisgarh'): 1247650,
 ('KORBA', 'Chhattisgarh'): 1136903,
 ('BILASPUR', 'Chhattisgarh'): 1209434,
 ('RAJNANDGAON', 'Chhattisgarh'): 1307033,
 ('DURG', 'Chhattisgarh'): 1391996,
 ('RAIPUR', 'Chhattisgarh'): 1396250,
 ('MAHASAMUND', 'Chhattisgarh'): 1222335,
 ('BASTAR', 'Chhattisgarh'): 912846,
 ('KANKER', 'Chhattisgarh'): 1159193,
 ('Rajmahal', 'Jharkhand'): 1047657,
 ('Dumka', 'Jharkhand'): 1025968,
 ('Godda', 'Jharkhand'): 1194036,
 ('Chatra', 'Jharkhand'): 925937,
 ('Kodarma', 'Jharkhand'): 1209541,
 ('Giridih', 'Jharkhand'): 1106918,
 ('Dhanbad', 'Jharkhand'): 1252817,
 ('Ranchi', 'Jharkhand'): 1234926,
 ('Jamshedpur', 'Jharkhand'): 1144226,
 ('Singhbhum', 'Jharkhand'): 879329,
 ('Khunti', 'Jharkhand'): 832377,
 ('Lohardaga', 'Jharkhand'): 817550,
 ('Palamau', 'Jharkhand'): 1209747,
 ('Hazaribagh', 'Jharkhand'): 1080929,
 ('Tehri Garhwal', 'Uttarakhand'): 876069,
 ('Garhwal', 'Uttarakhand'): 742784,
 ('Almora', 'Uttarakhand'): 694472,
 ('Nainital-udhamsingh Nagar', 'Uttarakhand'): 1258570,
 ('Hardwar', 'Uttarakhand'): 1271030,
 ('Adilabad ', 'Telangana'): 1063730,
 ('Peddapalle ', 'Telangana'): 970051,
 ('Karimnagar ', 'Telangana'): 1147697,
 ('Nizamabad', 'Telangana'): 1062768,
 ('Zahirabad', 'Telangana'): 1044365,
 ('Medak', 'Telangana'): 1150223,
 ('Malkajgiri', 'Telangana'): 1563063,

In [19]:
# Initialize the "Total_vote_pc" column with zeros
df19["Total_vote_pc"] = 0

# Iterate over the dictionary items and assign values to the DataFrame
for key, value in Total_vote_pc.items():
    pc_name, state = key
    df19.loc[(df19["state"] == state) & (df19["pc_name"] == pc_name), "Total_vote_pc"] = value

df19

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1074538
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418,1074538
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1074538
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418,1074538
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418,1074538
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,973410,790760
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,973410,790760
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,973410,790760
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,973410,790760
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410,790760

In [20]:
df19["Voter Turnout Ratio"] = df19["Total_vote_pc"]/df19["total_electors"]
df19

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1074538,0.740337
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418,1074538,0.740337
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1074538,0.740337
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418,1074538,0.740337
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418,1074538,0.740337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,973410,790760,0.812361
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,973410,790760,0.812361
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,973410,790760,0.812361
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,973410,790760,0.812361
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410,790760,0.812361

In [21]:
Top_5_2019 = sorted(df19["Voter Turnout Ratio"].unique())[-5:]
Top_5_2019

[0.8646008687770022,
 0.864853434009579,
 0.8655311785486032,
 0.8730634667302524,
 0.906615638077959]

In [22]:
Bottom_5_2019 = sorted(df19["Voter Turnout Ratio"].unique())[:5]
Bottom_5_2019

[0.08935318101073203,
 0.14430847682538653,
 0.34570605082345657,
 0.44836717943584325,
 0.4529296791536347]

# 1. List top 5 / bottom 5 constituencies of 2014 & 2019 in terms of voter turnout ratio?

## List top 5 / bottom 5 constituencies of 2014 & 2019

In [23]:
print("Top 5 constituencies of 2014 in terms of voter turnout ratio are:")
for idx, ratio in enumerate(Top_5_2014[::-1]):
    print(idx+1, *df14[df14["Voter Turnout Ratio"] == ratio].pc_name.unique(), f"{ratio:.2f}")
print()
print("Top 5 constituencies of 2019 in terms of voter turnout ratio are:")
for idx, ratio in enumerate(Top_5_2019[::-1]):
    print(idx+1, *df19[df19["Voter Turnout Ratio"] == ratio].pc_name.unique(),f"{ratio:.2f}")

Top 5 constituencies of 2014 in terms of voter turnout ratio are:
1 Dhubri 0.88
2 Nagaland 0.88
3 Tamluk 0.88
4 Bishnupur 0.87
5 Lakshadweep 0.87

Top 5 constituencies of 2019 in terms of voter turnout ratio are:
1 Dhubri 0.91
2 Bishnupur 0.87
3 Barpeta 0.87
4 Jalpaiguri 0.86
5 ARUNACHAL EAST 0.86

In [24]:
print("Bottom 5 constituencies of 2014 in terms of voter turnout ratio are:")
for idx, ratio in enumerate(Bottom_5_2014):
    print(idx+1, *df14[df14["Voter Turnout Ratio"] == ratio].pc_name.unique(), f"{ratio:.2f}")
print()
print("Bottom 5 constituencies of 2019 in terms of voter turnout ratio are:")
for idx, ratio in enumerate(Bottom_5_2019):
    print(idx+1, *df19[df19["Voter Turnout Ratio"] == ratio].pc_name.unique(), f"{ratio:.2f}")

Bottom 5 constituencies of 2014 in terms of voter turnout ratio are:
1 Srinagar 0.26
2 Anantnag 0.29
3 Baramulla 0.39
4 Kalyan 0.43
5 Patna Sahib 0.45

Bottom 5 constituencies of 2019 in terms of voter turnout ratio are:
1 Anantnag 0.09
2 Srinagar 0.14
3 Baramulla 0.35
4 Hyderabad 0.45
5 Kalyan 0.45

# 2. List top 5 / bottom 5 states of 2014 & 2019 in terms of voter turnout ratio?

In [25]:
# Calculating Voter Turnout Ratio for state
state_Voter_Turnout_Ratio_2014 = dict()
for state in df14.state.unique():
    total_ratio = 0
    count = 0
    for pc in df14[df14["state"]==state].pc_name.unique():
        total_ratio += df14[(df14["state"]==state) & (df14["pc_name"]==pc)]["Voter Turnout Ratio"].unique()[0]
        count += 1
    state_Voter_Turnout_Ratio_2014[state] = total_ratio/count
state_Voter_Turnout_Ratio_2014

{'Telangana': 0.7164436838527906,
 'Andhra Pradesh': 0.7812880277762365,
 'Arunachal Pradesh': 0.793559701643926,
 'Assam': 0.7976558736443258,
 'Bihar': 0.564768867833233,
 'Goa': 0.7707029629588493,
 'Gujarat': 0.6360615150646751,
 'Haryana': 0.7145224209256298,
 'Himachal Pradesh': 0.6438500452844521,
 'Jammu & Kashmir': 0.5055941425745316,
 'Karnataka': 0.6772129133911073,
 'Kerala': 0.7396870166048912,
 'Madhya Pradesh': 0.6170440575367803,
 'Maharashtra': 0.6048510821130649,
 'Manipur': 0.7945103814199421,
 'Meghalaya': 0.7065929200138219,
 'Mizoram': 0.6169460387085749,
 'Nagaland': 0.8782202790936725,
 'Punjab': 0.7065935284013087,
 'Rajasthan': 0.6301962272853828,
 'Sikkim': 0.8333117566146129,
 'Tamil Nadu': 0.7396860890922783,
 'Tripura': 0.846638693364812,
 'Uttar Pradesh': 0.5858117103872776,
 'West Bengal': 0.8217317247982407,
 'Jharkhand': 0.6394897551285011,
 'Uttarakhand': 0.6070425294773981,
 'Andaman & Nicobar Islands': 0.7065934065934066,
 'Chandigarh': 0.7370687273046452,
 'Dadra & Nagar Haveli': 0.840735107860242,
 'Daman & Diu': 0.7800710025306947,
 'NCT OF Delhi': 0.6519906998959744,
 'Lakshadweep': 0.8661311646168022,
 'Puducherry': 0.8210032206994565}

In [26]:
df14["state Voter Turnout Ratio"] = 0.0
for key, value in state_Voter_Turnout_Ratio_2014.items():
    df14.loc[df14["state"]==key, "state Voter Turnout Ratio"] = value
df14

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,1045839,0.754420,0.716444
1,Telangana,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282,1045839,0.754420,0.716444
2,Telangana,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282,1045839,0.754420,0.716444
3,Telangana,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282,1045839,0.754420,0.716444
4,Telangana,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282,1045839,0.754420,0.716444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357,740017,0.821003,0.821003
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357,740017,0.821003,0.821003
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357,740017,0.821003,0.821003
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357,740017,0.821003,0.821003
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357,740017,0.821003,0.821003

In [27]:
# Calculating Voter Turnout Ratio for state
state_Voter_Turnout_Ratio_2019 = dict()
for state in df19.state.unique():
    total_ratio = 0
    count = 0
    for pc in df19[df19["state"]==state].pc_name.unique():
        total_ratio += df19[(df19["state"]==state) & (df19["pc_name"]==pc)]["Voter Turnout Ratio"].unique()[0]
        count += 1
    state_Voter_Turnout_Ratio_2019[state] = total_ratio/count
state_Voter_Turnout_Ratio_2019

{'Andhra Pradesh': 0.803330415607088,
 'Arunachal Pradesh': 0.8185976690389243,
 'Assam': 0.8112826866459253,
 'Bihar': 0.5750003757620296,
 'Goa': 0.7513522921368121,
 'Gujarat': 0.6442501881031457,
 'Haryana': 0.7044815266408022,
 'Himachal Pradesh': 0.7228856142876641,
 'Jammu & Kashmir': 0.45118145968458306,
 'Karnataka': 0.6967891712830557,
 'Kerala': 0.7781871880181359,
 'Madhya Pradesh': 0.7127338437085275,
 'Maharashtra': 0.6108249473253852,
 'Manipur': 0.8247147790032682,
 'Meghalaya': 0.7339336805901104,
 'Mizoram': 0.6304652324900564,
 'Nagaland': 0.8291119373657599,
 'Odisha': 0.732897403784901,
 'Punjab': 0.6586535840189841,
 'Rajasthan': 0.6619382767487763,
 'Sikkim': 0.810235690856153,
 'Tamil Nadu': 0.7273975277994718,
 'Tripura': 0.8236493855992636,
 'Uttar Pradesh': 0.592668128022159,
 'West Bengal': 0.816426657626762,
 'Chhattisgarh': 0.7181585037170533,
 'Jharkhand': 0.6711820722151342,
 'Uttarakhand': 0.6064747773023875,
 'Telangana': 0.6440268013289829,
 'Andaman & Nicobar Islands': 0.6509101299647377,
 'Chandigarh': 0.7059649404928494,
 'Dadra & Nagar Haveli': 0.7958396825968188,
 'Daman & Diu': 0.718490225069821,
 'NCT OF Delhi': 0.6051986380830864,
 'Lakshadweep': 0.8517820580188081,
 'Puducherry': 0.8123606702211812}

In [28]:
df19["state Voter Turnout Ratio"] = 0.0
for key, value in state_Voter_Turnout_Ratio_2019.items():
    df19.loc[df19["state"]==key, "state Voter Turnout Ratio"] = value
df19

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1074538,0.740337,0.803330
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418,1074538,0.740337,0.803330
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1074538,0.740337,0.803330
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418,1074538,0.740337,0.803330
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418,1074538,0.740337,0.803330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,973410,790760,0.812361,0.812361
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,973410,790760,0.812361,0.812361
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,973410,790760,0.812361,0.812361
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,973410,790760,0.812361,0.812361
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410,790760,0.812361,0.812361

In [29]:
Top_5_state_2014 = sorted(df14["state Voter Turnout Ratio"].unique())[-5:]
Top_5_state_2014

[0.8333117566146129,
 0.840735107860242,
 0.846638693364812,
 0.8661311646168022,
 0.8782202790936725]

In [30]:
Bottom_5_state_2014 = sorted(df14["state Voter Turnout Ratio"].unique())[:5]
Bottom_5_state_2014

[0.5055941425745316,
 0.564768867833233,
 0.5858117103872776,
 0.6048510821130649,
 0.6070425294773981]

In [31]:
Top_5_state_2019 = sorted(df19["state Voter Turnout Ratio"].unique())[-5:]
Top_5_state_2019

[0.8185976690389243,
 0.8236493855992636,
 0.8247147790032682,
 0.8291119373657599,
 0.8517820580188081]

In [32]:
Bottom_5_state_2019 = sorted(df19["state Voter Turnout Ratio"].unique())[:5]
Bottom_5_state_2019

[0.45118145968458306,
 0.5750003757620296,
 0.592668128022159,
 0.6051986380830864,
 0.6064747773023875]

## List top 5 / bottom 5 states of 2014 & 2019 in terms of voter turnout ratio

In [33]:
print("Top 5 state of 2014 in terms of voter turnout ratio are:")
for idx, ratio in enumerate(Top_5_state_2014[::-1]):
    print(idx+1, *df14[df14["state Voter Turnout Ratio"] == ratio].state.unique(), f"{ratio:.2f}")
print()
print("Top 5 state of 2019 in terms of voter turnout ratio are:")
for idx, ratio in enumerate(Top_5_state_2019[::-1]):
    print(idx+1, *df19[df19["state Voter Turnout Ratio"] == ratio].state.unique(),f"{ratio:.2f}")

Top 5 state of 2014 in terms of voter turnout ratio are:
1 Nagaland 0.88
2 Lakshadweep 0.87
3 Tripura 0.85
4 Dadra & Nagar Haveli 0.84
5 Sikkim 0.83

Top 5 state of 2019 in terms of voter turnout ratio are:
1 Lakshadweep 0.85
2 Nagaland 0.83
3 Manipur 0.82
4 Tripura 0.82
5 Arunachal Pradesh 0.82

In [34]:
print("Bottom 5 state of 2014 in terms of voter turnout ratio are:")
for idx, ratio in enumerate(Bottom_5_state_2014):
    print(idx+1, *df14[df14["state Voter Turnout Ratio"] == ratio].state.unique(), f"{ratio:.2f}")
print()
print("Bottom 5 state of 2019 in terms of voter turnout ratio are:")
for idx, ratio in enumerate(Bottom_5_state_2019):
    print(idx+1, *df19[df19["state Voter Turnout Ratio"] == ratio].state.unique(), f"{ratio:.2f}")

Bottom 5 state of 2014 in terms of voter turnout ratio are:
1 Jammu & Kashmir 0.51
2 Bihar 0.56
3 Uttar Pradesh 0.59
4 Maharashtra 0.60
5 Uttarakhand 0.61

Bottom 5 state of 2019 in terms of voter turnout ratio are:
1 Jammu & Kashmir 0.45
2 Bihar 0.58
3 Uttar Pradesh 0.59
4 NCT OF Delhi 0.61
5 Uttarakhand 0.61

# 3. Which constituencies have elected the same party for two consecutive elections, rank them by % of votes to that winning party in 2019

In [35]:
df14["winner_pc"] = "Not"

for state in df14.state.unique():
    state_data = df14[df14["state"] == state]
    
    for pc in state_data.pc_name.unique():
        pc_data = state_data[state_data["pc_name"] == pc]
        max_vote = pc_data["total_votes"].max()
        win_party = pc_data[pc_data["total_votes"] == max_vote]["party"].values[0]
        
        df14.loc[(df14["state"] == state) & (df14["pc_name"] == pc) & (df14["party"] == win_party), "winner_pc"] = "win"

df14

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,1045839,0.754420,0.716444,win
1,Telangana,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282,1045839,0.754420,0.716444,Not
2,Telangana,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282,1045839,0.754420,0.716444,Not
3,Telangana,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282,1045839,0.754420,0.716444,Not
4,Telangana,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282,1045839,0.754420,0.716444,Not
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357,740017,0.821003,0.821003,Not
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357,740017,0.821003,0.821003,Not
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357,740017,0.821003,0.821003,Not
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357,740017,0.821003,0.821003,Not
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357,740017,0.821003,0.821003,Not

In [36]:
df19["winner_pc"] = "Not"

for state in df19.state.unique():
    state_data = df19[df19["state"] == state]
    
    for pc in state_data.pc_name.unique():
        pc_data = state_data[state_data["pc_name"] == pc]
        max_vote = pc_data["total_votes"].max()
        win_party = pc_data[pc_data["total_votes"] == max_vote]["party"].values[0]
        
        df19.loc[(df19["state"] == state) & (df19["pc_name"] == pc) & (df19["party"] == win_party), "winner_pc"] = "win"

df19

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1074538,0.740337,0.803330,Not
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418,1074538,0.740337,0.803330,Not
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1074538,0.740337,0.803330,win
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418,1074538,0.740337,0.803330,Not
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418,1074538,0.740337,0.803330,Not
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,973410,790760,0.812361,0.812361,Not
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,973410,790760,0.812361,0.812361,Not
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,973410,790760,0.812361,0.812361,Not
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,973410,790760,0.812361,0.812361,Not
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410,790760,0.812361,0.812361,Not

In [37]:
df14[(df14["party"]=="NOTA") & (df14["winner_pc"]=="win")]

Empty DataFrame
Columns: [state, pc_name, candidate, sex, age, category, party, party_symbol, general_votes, postal_votes, total_votes, total_electors, Total_vote_pc, Voter Turnout Ratio, state Voter Turnout Ratio, winner_pc]
Index: []

In [38]:
df19[(df19["party"]=="NOTA") & (df19["winner_pc"]=="win")]

Empty DataFrame
Columns: [state, pc_name, candidate, sex, age, category, party, party_symbol, general_votes, postal_votes, total_votes, total_electors, Total_vote_pc, Voter Turnout Ratio, state Voter Turnout Ratio, winner_pc]
Index: []

In [39]:
win19 = df19[df19["winner_pc"]=="win"]
win19

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1074538,0.740337,0.803330,win
11,Andhra Pradesh,Srikakulam,KINJARAPU RAM MOHAN NAIDU,MALE,32.0,GENERAL,TDP,Bicycle,529213,5331,534544,1553860,1157329,0.744809,0.803330,win
23,Andhra Pradesh,Vizianagaram,Bellana Chandra Sekhar,MALE,57.0,GENERAL,YSRCP,Ceiling Fan,573466,4952,578418,1503980,1217890,0.809778,0.803330,win
39,Andhra Pradesh,Visakhapatnam,M V V SATYANARAYANA,MALE,52.0,GENERAL,YSRCP,Ceiling Fan,433968,2938,436906,1829300,1239754,0.677720,0.803330,win
53,Andhra Pradesh,Anakapalli,Dr.Beesetti Venkata Satyavathi,FEMALE,52.0,GENERAL,YSRCP,Ceiling Fan,583210,3016,586226,1521363,1238491,0.814067,0.803330,win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8509,NCT OF Delhi,NORTH WEST DELHI,HANS RAJ HANS,MALE,57.0,SC,BJP,Lotus,847737,926,848663,2378995,1402962,0.589729,0.605199,win
8519,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,MALE,41.0,GENERAL,BJP,Lotus,862058,3590,865648,2371644,1441601,0.607849,0.605199,win
8543,NCT OF Delhi,SOUTH DELHI,RAMESH BIDHURI,MALE,57.0,GENERAL,BJP,Lotus,685789,1225,687014,2067463,1214222,0.587300,0.605199,win
8573,Lakshadweep,Lakshadweep,MOHAMMED FAIZAL PP,MALE,43.0,ST,NCP,Clock,22796,55,22851,55189,47009,0.851782,0.851782,win
8580,Puducherry,Puducherry,Ve. VAITHILINGAM,MALE,68.0,GENERAL,INC,Hand,444646,335,444981,973410,790760,0.812361,0.812361,win

In [40]:
win14 = df14[df14["winner_pc"]=="win"]
win14

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,1045839,0.754420,0.716444,win
11,Telangana,Peddapalle,BALKA SUMAN,M,31.0,SC,TRS,Car,563214,2282,565496,1425355,1022184,0.717143,0.716444,win
31,Telangana,Karimnagar,VINOD KUMAR BOINAPALLY,M,54.0,GEN,TRS,Car,503197,2161,505358,1550810,1125184,0.725546,0.716444,win
46,Telangana,Nizamabad,KALVAKUNTLA KAVITHA,F,36.0,GEN,TRS,Car,435706,3601,439307,1496193,1033924,0.691037,0.716444,win
62,Telangana,Zahirabad,B.B. PATIL,M,58.0,GEN,TRS,Car,505983,2678,508661,1445354,1094806,0.757466,0.716444,win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8264,NCT OF Delhi,NORTH WEST DELHI,UDIT RAJ,M,56.0,SC,BJP,Lotus,627529,2331,629860,2194343,1356036,0.617969,0.651991,win
8280,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,M,36.0,GEN,BJP,Lotus,649542,1853,651395,2039410,1347971,0.660961,0.651991,win
8299,NCT OF Delhi,SOUTH DELHI,RAMESH BIDHURI,M,52.0,GEN,BJP,Lotus,497151,829,497980,1752748,1102410,0.628961,0.651991,win
8319,Lakshadweep,Lakshadweep,MOHAMMED FAIZAL P.P.,M,38.0,ST,NCP,Clock,21665,0,21665,49922,43239,0.866131,0.866131,win
8325,Puducherry,Puducherry,R. RADHAKRISHNAN,M,42.0,GEN,AINRC,Jug,255732,94,255826,901357,740017,0.821003,0.821003,win

In [41]:
len(win19)

577

In [42]:
new14 = win14.drop(["candidate", "sex", "age", "category", "party_symbol", "general_votes", "postal_votes"], axis=1)
new14

,state,pc_name,party,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
0,Telangana,Adilabad,TRS,430847,1386282,1045839,0.754420,0.716444,win
11,Telangana,Peddapalle,TRS,565496,1425355,1022184,0.717143,0.716444,win
31,Telangana,Karimnagar,TRS,505358,1550810,1125184,0.725546,0.716444,win
46,Telangana,Nizamabad,TRS,439307,1496193,1033924,0.691037,0.716444,win
62,Telangana,Zahirabad,TRS,508661,1445354,1094806,0.757466,0.716444,win
...,...,...,...,...,...,...,...,...,...
8264,NCT OF Delhi,NORTH WEST DELHI,BJP,629860,2194343,1356036,0.617969,0.651991,win
8280,NCT OF Delhi,WEST DELHI,BJP,651395,2039410,1347971,0.660961,0.651991,win
8299,NCT OF Delhi,SOUTH DELHI,BJP,497980,1752748,1102410,0.628961,0.651991,win
8319,Lakshadweep,Lakshadweep,NCP,21665,49922,43239,0.866131,0.866131,win
8325,Puducherry,Puducherry,AINRC,255826,901357,740017,0.821003,0.821003,win

In [43]:
new19 = win19.drop(["candidate", "sex", "age", "category", "party_symbol", "general_votes", "postal_votes"], axis=1)
new19

,state,pc_name,party,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
2,Andhra Pradesh,Aruku,YSRCP,562190,1451418,1074538,0.740337,0.803330,win
11,Andhra Pradesh,Srikakulam,TDP,534544,1553860,1157329,0.744809,0.803330,win
23,Andhra Pradesh,Vizianagaram,YSRCP,578418,1503980,1217890,0.809778,0.803330,win
39,Andhra Pradesh,Visakhapatnam,YSRCP,436906,1829300,1239754,0.677720,0.803330,win
53,Andhra Pradesh,Anakapalli,YSRCP,586226,1521363,1238491,0.814067,0.803330,win
...,...,...,...,...,...,...,...,...,...
8509,NCT OF Delhi,NORTH WEST DELHI,BJP,848663,2378995,1402962,0.589729,0.605199,win
8519,NCT OF Delhi,WEST DELHI,BJP,865648,2371644,1441601,0.607849,0.605199,win
8543,NCT OF Delhi,SOUTH DELHI,BJP,687014,2067463,1214222,0.587300,0.605199,win
8573,Lakshadweep,Lakshadweep,NCP,22851,55189,47009,0.851782,0.851782,win
8580,Puducherry,Puducherry,INC,444981,973410,790760,0.812361,0.812361,win

In [44]:
merge19 = pd.merge(new19, new14, on=["state", "pc_name", "party"], how='inner', suffixes=('_2019', '_2014')).drop_duplicates(subset=["state", "pc_name", "party"])
merge19

,state,pc_name,party,total_votes_2019,total_electors_2019,Total_vote_pc_2019,Voter Turnout Ratio_2019,state Voter Turnout Ratio_2019,winner_pc_2019,total_votes_2014,total_electors_2014,Total_vote_pc_2014,Voter Turnout Ratio_2014,state Voter Turnout Ratio_2014,winner_pc_2014
0,Andhra Pradesh,Aruku,YSRCP,562190,1451418,1074538,0.740337,0.803330,win,413191,1272340,909614,0.714914,0.781288,win
1,Andhra Pradesh,Srikakulam,TDP,534544,1553860,1157329,0.744809,0.803330,win,556545,1413726,1052115,0.744214,0.781288,win
2,Andhra Pradesh,Vijayawada,TDP,575498,1652994,1277711,0.772968,0.803330,win,592953,1564513,1195765,0.764305,0.781288,win
3,Andhra Pradesh,Guntur,TDP,587918,1706119,1351474,0.792133,0.803330,win,618417,1572017,1244926,0.791929,0.781288,win
4,Andhra Pradesh,Ongole,YSRCP,739202,1556469,1342368,0.862444,0.803330,win,589861,1470212,1208225,0.821803,0.781288,win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,NCT OF Delhi,NEW DELHI,BJP,504206,1617470,920541,0.569124,0.605199,win,453350,1490147,969812,0.650816,0.651991,win
340,NCT OF Delhi,NORTH WEST DELHI,BJP,848663,2378995,1402962,0.589729,0.605199,win,629860,2194343,1356036,0.617969,0.651991,win
341,NCT OF Delhi,WEST DELHI,BJP,865648,2371644,1441601,0.607849,0.605199,win,651395,2039410,1347971,0.660961,0.651991,win
342,NCT OF Delhi,SOUTH DELHI,BJP,687014,2067463,1214222,0.587300,0.605199,win,497980,1752748,1102410,0.628961,0.651991,win
343,Lakshadweep,Lakshadweep,NCP,22851,55189,47009,0.851782,0.851782,win,21665,49922,43239,0.866131,0.866131,win

In [45]:
merge19["vote_percentage"] = merge19["total_votes_2019"]/merge19["Total_vote_pc_2019"]
merge19

,state,pc_name,party,total_votes_2019,total_electors_2019,Total_vote_pc_2019,Voter Turnout Ratio_2019,state Voter Turnout Ratio_2019,winner_pc_2019,total_votes_2014,total_electors_2014,Total_vote_pc_2014,Voter Turnout Ratio_2014,state Voter Turnout Ratio_2014,winner_pc_2014,vote_percentage
0,Andhra Pradesh,Aruku,YSRCP,562190,1451418,1074538,0.740337,0.803330,win,413191,1272340,909614,0.714914,0.781288,win,0.523192
1,Andhra Pradesh,Srikakulam,TDP,534544,1553860,1157329,0.744809,0.803330,win,556545,1413726,1052115,0.744214,0.781288,win,0.461877
2,Andhra Pradesh,Vijayawada,TDP,575498,1652994,1277711,0.772968,0.803330,win,592953,1564513,1195765,0.764305,0.781288,win,0.450413
3,Andhra Pradesh,Guntur,TDP,587918,1706119,1351474,0.792133,0.803330,win,618417,1572017,1244926,0.791929,0.781288,win,0.435020
4,Andhra Pradesh,Ongole,YSRCP,739202,1556469,1342368,0.862444,0.803330,win,589861,1470212,1208225,0.821803,0.781288,win,0.550670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,NCT OF Delhi,NEW DELHI,BJP,504206,1617470,920541,0.569124,0.605199,win,453350,1490147,969812,0.650816,0.651991,win,0.547728
340,NCT OF Delhi,NORTH WEST DELHI,BJP,848663,2378995,1402962,0.589729,0.605199,win,629860,2194343,1356036,0.617969,0.651991,win,0.604908
341,NCT OF Delhi,WEST DELHI,BJP,865648,2371644,1441601,0.607849,0.605199,win,651395,2039410,1347971,0.660961,0.651991,win,0.600477
342,NCT OF Delhi,SOUTH DELHI,BJP,687014,2067463,1214222,0.587300,0.605199,win,497980,1752748,1102410,0.628961,0.651991,win,0.565806
343,Lakshadweep,Lakshadweep,NCP,22851,55189,47009,0.851782,0.851782,win,21665,49922,43239,0.866131,0.866131,win,0.486098

In [46]:
sorted_merge19 = merge19.sort_values(by="vote_percentage", ascending=False)
sorted_merge19

,state,pc_name,party,total_votes_2019,total_electors_2019,Total_vote_pc_2019,Voter Turnout Ratio_2019,state Voter Turnout Ratio_2019,winner_pc_2019,total_votes_2014,total_electors_2014,Total_vote_pc_2014,Voter Turnout Ratio_2014,state Voter Turnout Ratio_2014,winner_pc_2014,vote_percentage
80,Gujarat,Surat,BJP,795651,1655704,1068412,0.645292,0.644250,win,718412,1484068,947922,0.638732,0.636062,win,0.744704
81,Gujarat,Navsari,BJP,972739,1971658,1308018,0.663410,0.644250,win,820831,1764622,1160747,0.657788,0.636062,win,0.743674
76,Gujarat,Vadodara,BJP,883719,1794896,1222348,0.681013,0.644250,win,845464,1638321,1161577,0.709005,0.636062,win,0.722968
90,Himachal Pradesh,Kangra,BJP,725218,1427338,1006989,0.705501,0.722886,win,456163,1258601,799445,0.635185,0.643850,win,0.720185
222,Rajasthan,Bhilwara,BJP,938160,1997328,1310513,0.656133,0.661938,win,630317,1754901,1104090,0.629147,0.630196,win,0.715872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Punjab,Ludhiana,INC,383795,1683325,1046955,0.621957,0.658654,win,300459,1561201,1100457,0.704878,0.706594,win,0.366582
287,West Bengal,Maldaha Dakshin,INC,444270,1575590,1279202,0.811888,0.816427,win,380291,1347143,1092407,0.810906,0.821732,win,0.347302
94,Jammu & Kashmir,Ladakh,BJP,42914,179232,126426,0.705376,0.451181,win,31111,166763,118029,0.707765,0.505594,win,0.339440
36,Bihar,Kishanganj,INC,367017,1659651,1101603,0.663756,0.575000,win,493461,1438990,928490,0.645237,0.564769,win,0.333166
13,Assam,Kokrajhar,IND,484560,1776358,1479485,0.832875,0.811283,win,278649,1505472,1223869,0.812947,0.797656,win,0.327519

## Constituencies which have elected the same party for two consecutive elections, ranked by % of votes to that winning party in 2019

In [47]:
sorted_merge19['rank_2019'] = sorted_merge19['vote_percentage'].rank(method='dense', ascending=False)
sorted_merge19

,state,pc_name,party,total_votes_2019,total_electors_2019,Total_vote_pc_2019,Voter Turnout Ratio_2019,state Voter Turnout Ratio_2019,winner_pc_2019,total_votes_2014,total_electors_2014,Total_vote_pc_2014,Voter Turnout Ratio_2014,state Voter Turnout Ratio_2014,winner_pc_2014,vote_percentage,rank_2019
80,Gujarat,Surat,BJP,795651,1655704,1068412,0.645292,0.644250,win,718412,1484068,947922,0.638732,0.636062,win,0.744704,1.0
81,Gujarat,Navsari,BJP,972739,1971658,1308018,0.663410,0.644250,win,820831,1764622,1160747,0.657788,0.636062,win,0.743674,2.0
76,Gujarat,Vadodara,BJP,883719,1794896,1222348,0.681013,0.644250,win,845464,1638321,1161577,0.709005,0.636062,win,0.722968,3.0
90,Himachal Pradesh,Kangra,BJP,725218,1427338,1006989,0.705501,0.722886,win,456163,1258601,799445,0.635185,0.643850,win,0.720185,4.0
222,Rajasthan,Bhilwara,BJP,938160,1997328,1310513,0.656133,0.661938,win,630317,1754901,1104090,0.629147,0.630196,win,0.715872,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Punjab,Ludhiana,INC,383795,1683325,1046955,0.621957,0.658654,win,300459,1561201,1100457,0.704878,0.706594,win,0.366582,329.0
287,West Bengal,Maldaha Dakshin,INC,444270,1575590,1279202,0.811888,0.816427,win,380291,1347143,1092407,0.810906,0.821732,win,0.347302,330.0
94,Jammu & Kashmir,Ladakh,BJP,42914,179232,126426,0.705376,0.451181,win,31111,166763,118029,0.707765,0.505594,win,0.339440,331.0
36,Bihar,Kishanganj,INC,367017,1659651,1101603,0.663756,0.575000,win,493461,1438990,928490,0.645237,0.564769,win,0.333166,332.0
13,Assam,Kokrajhar,IND,484560,1776358,1479485,0.832875,0.811283,win,278649,1505472,1223869,0.812947,0.797656,win,0.327519,333.0

# 4. Which constituencies have voted for different parties in two elections (list top 10 based on difference (2019-2014) in winner vote percentage in two elections)

In [48]:
new_party19 = pd.merge(new19, new14, on=["state", "pc_name"], suffixes=('_2019', '_2014'))
new_party19

,state,pc_name,party_2019,total_votes_2019,total_electors_2019,Total_vote_pc_2019,Voter Turnout Ratio_2019,state Voter Turnout Ratio_2019,winner_pc_2019,party_2014,total_votes_2014,total_electors_2014,Total_vote_pc_2014,Voter Turnout Ratio_2014,state Voter Turnout Ratio_2014,winner_pc_2014
0,Andhra Pradesh,Aruku,YSRCP,562190,1451418,1074538,0.740337,0.803330,win,YSRCP,413191,1272340,909614,0.714914,0.781288,win
1,Andhra Pradesh,Srikakulam,TDP,534544,1553860,1157329,0.744809,0.803330,win,TDP,556545,1413726,1052115,0.744214,0.781288,win
2,Andhra Pradesh,Vizianagaram,YSRCP,578418,1503980,1217890,0.809778,0.803330,win,TDP,536549,1403736,1120316,0.798096,0.781288,win
3,Andhra Pradesh,Visakhapatnam,YSRCP,436906,1829300,1239754,0.677720,0.803330,win,BJP,566832,1723011,1163558,0.675305,0.781288,win
4,Andhra Pradesh,Anakapalli,YSRCP,586226,1521363,1238491,0.814067,0.803330,win,TDP,568463,1401474,1148072,0.819189,0.781288,win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,NCT OF Delhi,NORTH WEST DELHI,BJP,848663,2378995,1402962,0.589729,0.605199,win,BJP,629860,2194343,1356036,0.617969,0.651991,win
556,NCT OF Delhi,WEST DELHI,BJP,865648,2371644,1441601,0.607849,0.605199,win,BJP,651395,2039410,1347971,0.660961,0.651991,win
557,NCT OF Delhi,SOUTH DELHI,BJP,687014,2067463,1214222,0.587300,0.605199,win,BJP,497980,1752748,1102410,0.628961,0.651991,win
558,Lakshadweep,Lakshadweep,NCP,22851,55189,47009,0.851782,0.851782,win,NCP,21665,49922,43239,0.866131,0.866131,win
559,Puducherry,Puducherry,INC,444981,973410,790760,0.812361,0.812361,win,AINRC,255826,901357,740017,0.821003,0.821003,win

In [49]:
new_party = new_party19[new_party19["party_2019"]!= new_party19["party_2014"]].drop_duplicates(subset=["state", "pc_name", "party_2019"])
new_party

,state,pc_name,party_2019,total_votes_2019,total_electors_2019,Total_vote_pc_2019,Voter Turnout Ratio_2019,state Voter Turnout Ratio_2019,winner_pc_2019,party_2014,total_votes_2014,total_electors_2014,Total_vote_pc_2014,Voter Turnout Ratio_2014,state Voter Turnout Ratio_2014,winner_pc_2014
2,Andhra Pradesh,Vizianagaram,YSRCP,578418,1503980,1217890,0.809778,0.803330,win,TDP,536549,1403736,1120316,0.798096,0.781288,win
3,Andhra Pradesh,Visakhapatnam,YSRCP,436906,1829300,1239754,0.677720,0.803330,win,BJP,566832,1723011,1163558,0.675305,0.781288,win
4,Andhra Pradesh,Anakapalli,YSRCP,586226,1521363,1238491,0.814067,0.803330,win,TDP,568463,1401474,1148072,0.819189,0.781288,win
5,Andhra Pradesh,Kakinada,YSRCP,537630,1563930,1234655,0.789457,0.803330,win,TDP,514402,1418290,1099999,0.775581,0.781288,win
6,Andhra Pradesh,Amalapuram,YSRCP,485958,1459556,1232895,0.844706,0.803330,win,TDP,594547,1357865,1120927,0.825507,0.781288,win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,Telangana,Nagarkurnool,TRS,499672,1588111,989847,0.623286,0.644027,win,INC,420075,1477305,1108968,0.750670,0.716444,win
544,Telangana,Bhongir,INC,532795,1628033,1212631,0.744844,0.644027,win,TRS,448164,1492240,1211732,0.812022,0.716444,win
547,Telangana,Khammam,TRS,567459,1513809,1139831,0.752956,0.644027,win,YSRCP,422434,1440267,1183849,0.821965,0.716444,win
548,Andaman & Nicobar Islands,Andaman & Nicobar Islands,INC,95308,318471,207296,0.650910,0.650910,win,BJP,90969,269360,190328,0.706593,0.706593,win
559,Puducherry,Puducherry,INC,444981,973410,790760,0.812361,0.812361,win,AINRC,255826,901357,740017,0.821003,0.821003,win

In [50]:
new_party["winner_vote_difference"] = new_party["total_votes_2019"] - new_party["total_votes_2014"]
new_party

,state,pc_name,party_2019,total_votes_2019,total_electors_2019,Total_vote_pc_2019,Voter Turnout Ratio_2019,state Voter Turnout Ratio_2019,winner_pc_2019,party_2014,total_votes_2014,total_electors_2014,Total_vote_pc_2014,Voter Turnout Ratio_2014,state Voter Turnout Ratio_2014,winner_pc_2014,winner_vote_difference
2,Andhra Pradesh,Vizianagaram,YSRCP,578418,1503980,1217890,0.809778,0.803330,win,TDP,536549,1403736,1120316,0.798096,0.781288,win,41869
3,Andhra Pradesh,Visakhapatnam,YSRCP,436906,1829300,1239754,0.677720,0.803330,win,BJP,566832,1723011,1163558,0.675305,0.781288,win,-129926
4,Andhra Pradesh,Anakapalli,YSRCP,586226,1521363,1238491,0.814067,0.803330,win,TDP,568463,1401474,1148072,0.819189,0.781288,win,17763
5,Andhra Pradesh,Kakinada,YSRCP,537630,1563930,1234655,0.789457,0.803330,win,TDP,514402,1418290,1099999,0.775581,0.781288,win,23228
6,Andhra Pradesh,Amalapuram,YSRCP,485958,1459556,1232895,0.844706,0.803330,win,TDP,594547,1357865,1120927,0.825507,0.781288,win,-108589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,Telangana,Nagarkurnool,TRS,499672,1588111,989847,0.623286,0.644027,win,INC,420075,1477305,1108968,0.750670,0.716444,win,79597
544,Telangana,Bhongir,INC,532795,1628033,1212631,0.744844,0.644027,win,TRS,448164,1492240,1211732,0.812022,0.716444,win,84631
547,Telangana,Khammam,TRS,567459,1513809,1139831,0.752956,0.644027,win,YSRCP,422434,1440267,1183849,0.821965,0.716444,win,145025
548,Andaman & Nicobar Islands,Andaman & Nicobar Islands,INC,95308,318471,207296,0.650910,0.650910,win,BJP,90969,269360,190328,0.706593,0.706593,win,4339
559,Puducherry,Puducherry,INC,444981,973410,790760,0.812361,0.812361,win,AINRC,255826,901357,740017,0.821003,0.821003,win,189155

### Top 10 With positve difference of no. of votes

In [51]:
new_party.sort_values(by="winner_vote_difference", ascending=False).head(10)

,state,pc_name,party_2019,total_votes_2019,total_electors_2019,Total_vote_pc_2019,Voter Turnout Ratio_2019,state Voter Turnout Ratio_2019,winner_pc_2019,party_2014,total_votes_2014,total_electors_2014,Total_vote_pc_2014,Voter Turnout Ratio_2014,state Voter Turnout Ratio_2014,winner_pc_2014,winner_vote_difference
200,Kerala,Idukki,INC,498493,1204191,919297,0.763415,0.778187,win,IND,629,1158735,819766,0.707466,0.739687,win,497864
193,Kerala,Chalakudy,INC,473444,1230197,990224,0.804931,0.778187,win,IND,1376,1150497,884033,0.768392,0.739687,win,472068
474,West Bengal,Alipurduars,BJP,750804,1648383,1380217,0.837316,0.816427,win,AITC,362453,1470911,1223566,0.831842,0.821732,win,388351
181,Karnataka,Chikkballapur,BJP,745912,1808780,1386963,0.766795,0.696789,win,INC,424800,1658410,1263274,0.761738,0.677213,win,321112
400,Uttar Pradesh,Sambhal,SP,658006,1828764,1183469,0.647141,0.592668,win,BJP,360242,1693229,1057002,0.624252,0.585812,win,297764
182,Karnataka,Kolar,BJP,709165,1629961,1258551,0.772136,0.696789,win,INC,418926,1492977,1127315,0.755079,0.677213,win,290239
58,Bihar,Jhanjharpur,JD(U),602391,1852417,1060562,0.572529,0.575000,win,BJP,335481,1668405,941249,0.564161,0.564769,win,266910
475,West Bengal,Jalpaiguri,BJP,760145,1735464,1500922,0.864853,0.816427,win,AITC,494773,1531469,1302117,0.850241,0.821732,win,265372
59,Bihar,Supaul,JD(U),597377,1690620,1110805,0.657040,0.575000,win,INC,332927,1525583,970528,0.636169,0.564769,win,264450
467,Uttar Pradesh,Ghazipur,BSP,566082,1881077,1105627,0.587763,0.592668,win,BJP,306929,1801519,986673,0.547689,0.585812,win,259153

In [52]:
new_party["winner_vote_difference"] = abs(new_party["total_votes_2019"] - new_party["total_votes_2014"])
new_party

,state,pc_name,party_2019,total_votes_2019,total_electors_2019,Total_vote_pc_2019,Voter Turnout Ratio_2019,state Voter Turnout Ratio_2019,winner_pc_2019,party_2014,total_votes_2014,total_electors_2014,Total_vote_pc_2014,Voter Turnout Ratio_2014,state Voter Turnout Ratio_2014,winner_pc_2014,winner_vote_difference
2,Andhra Pradesh,Vizianagaram,YSRCP,578418,1503980,1217890,0.809778,0.803330,win,TDP,536549,1403736,1120316,0.798096,0.781288,win,41869
3,Andhra Pradesh,Visakhapatnam,YSRCP,436906,1829300,1239754,0.677720,0.803330,win,BJP,566832,1723011,1163558,0.675305,0.781288,win,129926
4,Andhra Pradesh,Anakapalli,YSRCP,586226,1521363,1238491,0.814067,0.803330,win,TDP,568463,1401474,1148072,0.819189,0.781288,win,17763
5,Andhra Pradesh,Kakinada,YSRCP,537630,1563930,1234655,0.789457,0.803330,win,TDP,514402,1418290,1099999,0.775581,0.781288,win,23228
6,Andhra Pradesh,Amalapuram,YSRCP,485958,1459556,1232895,0.844706,0.803330,win,TDP,594547,1357865,1120927,0.825507,0.781288,win,108589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,Telangana,Nagarkurnool,TRS,499672,1588111,989847,0.623286,0.644027,win,INC,420075,1477305,1108968,0.750670,0.716444,win,79597
544,Telangana,Bhongir,INC,532795,1628033,1212631,0.744844,0.644027,win,TRS,448164,1492240,1211732,0.812022,0.716444,win,84631
547,Telangana,Khammam,TRS,567459,1513809,1139831,0.752956,0.644027,win,YSRCP,422434,1440267,1183849,0.821965,0.716444,win,145025
548,Andaman & Nicobar Islands,Andaman & Nicobar Islands,INC,95308,318471,207296,0.650910,0.650910,win,BJP,90969,269360,190328,0.706593,0.706593,win,4339
559,Puducherry,Puducherry,INC,444981,973410,790760,0.812361,0.812361,win,AINRC,255826,901357,740017,0.821003,0.821003,win,189155

### Top 10 With absolute difference in no. of votes

In [53]:
new_party.sort_values(by="winner_vote_difference", ascending=False).head(10)

,state,pc_name,party_2019,total_votes_2019,total_electors_2019,Total_vote_pc_2019,Voter Turnout Ratio_2019,state Voter Turnout Ratio_2019,winner_pc_2019,party_2014,total_votes_2014,total_electors_2014,Total_vote_pc_2014,Voter Turnout Ratio_2014,state Voter Turnout Ratio_2014,winner_pc_2014,winner_vote_difference
159,Karnataka,Mandya,IND,1725,1712004,1379210,0.805611,0.696789,win,JD(S),524370,1669262,1192638,0.714470,0.677213,win,522645
200,Kerala,Idukki,INC,498493,1204191,919297,0.763415,0.778187,win,IND,629,1158735,819766,0.707466,0.739687,win,497864
193,Kerala,Chalakudy,INC,473444,1230197,990224,0.804931,0.778187,win,IND,1376,1150497,884033,0.768392,0.739687,win,472068
252,Maharashtra,Amravati,IND,1088,1833091,1112385,0.606836,0.610825,win,SHS,467212,1612739,1004061,0.622581,0.604851,win,466124
474,West Bengal,Alipurduars,BJP,750804,1648383,1380217,0.837316,0.816427,win,AITC,362453,1470911,1223566,0.831842,0.821732,win,388351
181,Karnataka,Chikkballapur,BJP,745912,1808780,1386963,0.766795,0.696789,win,INC,424800,1658410,1263274,0.761738,0.677213,win,321112
400,Uttar Pradesh,Sambhal,SP,658006,1828764,1183469,0.647141,0.592668,win,BJP,360242,1693229,1057002,0.624252,0.585812,win,297764
182,Karnataka,Kolar,BJP,709165,1629961,1258551,0.772136,0.696789,win,INC,418926,1492977,1127315,0.755079,0.677213,win,290239
58,Bihar,Jhanjharpur,JD(U),602391,1852417,1060562,0.572529,0.575000,win,BJP,335481,1668405,941249,0.564161,0.564769,win,266910
475,West Bengal,Jalpaiguri,BJP,760145,1735464,1500922,0.864853,0.816427,win,AITC,494773,1531469,1302117,0.850241,0.821732,win,265372

# 5. Top 5 candidates based on margin difference with runners in 2014 and 2019.

In [54]:
df14

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,1045839,0.754420,0.716444,win
1,Telangana,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282,1045839,0.754420,0.716444,Not
2,Telangana,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282,1045839,0.754420,0.716444,Not
3,Telangana,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282,1045839,0.754420,0.716444,Not
4,Telangana,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282,1045839,0.754420,0.716444,Not
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357,740017,0.821003,0.821003,Not
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357,740017,0.821003,0.821003,Not
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357,740017,0.821003,0.821003,Not
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357,740017,0.821003,0.821003,Not
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357,740017,0.821003,0.821003,Not

In [55]:
df19

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1074538,0.740337,0.803330,Not
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418,1074538,0.740337,0.803330,Not
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1074538,0.740337,0.803330,win
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418,1074538,0.740337,0.803330,Not
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418,1074538,0.740337,0.803330,Not
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,973410,790760,0.812361,0.812361,Not
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,973410,790760,0.812361,0.812361,Not
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,973410,790760,0.812361,0.812361,Not
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,973410,790760,0.812361,0.812361,Not
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410,790760,0.812361,0.812361,Not

In [56]:
for state in df19.state.unique():
    state_data = df19[df19["state"] == state]
    
    for pc in state_data.pc_name.unique():
        pc_data = state_data[state_data["pc_name"] == pc]
        
        # Check if there are at least two parties in the current pc_data
        if len(pc_data) > 1:
            # Get the second largest total votes
            second_max_vote = pc_data["total_votes"].nlargest(2).iloc[-1]
            # Get the party with the second largest votes
            win_party = pc_data[pc_data["total_votes"] == second_max_vote]["party"].values[0]
            df19.loc[(df19["state"] == state) & (df19["pc_name"] == pc) & (df19["party"] == win_party), "winner_pc"] = "1st runner"
        else:
            # If there's only one party, handle it according to your specific needs
            pass

In [57]:
df19

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1074538,0.740337,0.803330,1st runner
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418,1074538,0.740337,0.803330,Not
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1074538,0.740337,0.803330,win
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418,1074538,0.740337,0.803330,Not
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418,1074538,0.740337,0.803330,Not
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,973410,790760,0.812361,0.812361,Not
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,973410,790760,0.812361,0.812361,Not
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,973410,790760,0.812361,0.812361,Not
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,973410,790760,0.812361,0.812361,Not
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410,790760,0.812361,0.812361,Not

In [58]:
df19[df19["winner_pc"]=="win"].drop_duplicates(subset=["state", "pc_name"])

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1074538,0.740337,0.803330,win
11,Andhra Pradesh,Srikakulam,KINJARAPU RAM MOHAN NAIDU,MALE,32.0,GENERAL,TDP,Bicycle,529213,5331,534544,1553860,1157329,0.744809,0.803330,win
23,Andhra Pradesh,Vizianagaram,Bellana Chandra Sekhar,MALE,57.0,GENERAL,YSRCP,Ceiling Fan,573466,4952,578418,1503980,1217890,0.809778,0.803330,win
39,Andhra Pradesh,Visakhapatnam,M V V SATYANARAYANA,MALE,52.0,GENERAL,YSRCP,Ceiling Fan,433968,2938,436906,1829300,1239754,0.677720,0.803330,win
53,Andhra Pradesh,Anakapalli,Dr.Beesetti Venkata Satyavathi,FEMALE,52.0,GENERAL,YSRCP,Ceiling Fan,583210,3016,586226,1521363,1238491,0.814067,0.803330,win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8509,NCT OF Delhi,NORTH WEST DELHI,HANS RAJ HANS,MALE,57.0,SC,BJP,Lotus,847737,926,848663,2378995,1402962,0.589729,0.605199,win
8519,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,MALE,41.0,GENERAL,BJP,Lotus,862058,3590,865648,2371644,1441601,0.607849,0.605199,win
8543,NCT OF Delhi,SOUTH DELHI,RAMESH BIDHURI,MALE,57.0,GENERAL,BJP,Lotus,685789,1225,687014,2067463,1214222,0.587300,0.605199,win
8573,Lakshadweep,Lakshadweep,MOHAMMED FAIZAL PP,MALE,43.0,ST,NCP,Clock,22796,55,22851,55189,47009,0.851782,0.851782,win
8580,Puducherry,Puducherry,Ve. VAITHILINGAM,MALE,68.0,GENERAL,INC,Hand,444646,335,444981,973410,790760,0.812361,0.812361,win

In [59]:
df19[df19["winner_pc"] == "1st runner"].drop_duplicates(subset=["state", "pc_name"])

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1074538,0.740337,0.803330,1st runner
13,Andhra Pradesh,Srikakulam,DUVVADA SRINIVAS,MALE,52.0,GENERAL,YSRCP,Ceiling Fan,520931,6960,527891,1553860,1157329,0.744809,0.803330,1st runner
21,Andhra Pradesh,Vizianagaram,Ashok Gajapathi Raju Pusapati,MALE,67.0,GENERAL,TDP,Bicycle,527307,3075,530382,1503980,1217890,0.809778,0.803330,1st runner
38,Andhra Pradesh,Visakhapatnam,BHARAT MATHUKUMILLI,MALE,29.0,GENERAL,TDP,Bicycle,431093,1399,432492,1829300,1239754,0.677720,0.803330,1st runner
51,Andhra Pradesh,Anakapalli,ADARI ANAND KUMAR,MALE,43.0,GENERAL,TDP,Bicycle,495381,1653,497034,1521363,1238491,0.814067,0.803330,1st runner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8507,NCT OF Delhi,NORTH WEST DELHI,GUGAN SINGH,MALE,70.0,SC,AAAP,Broom,294662,104,294766,2378995,1402962,0.589729,0.605199,1st runner
8521,NCT OF Delhi,WEST DELHI,MAHABAL MISHRA,MALE,64.0,GENERAL,INC,Hand,286745,417,287162,2371644,1441601,0.607849,0.605199,1st runner
8544,NCT OF Delhi,SOUTH DELHI,RAGHAV CHADHA,MALE,30.0,GENERAL,AAAP,Broom,319770,201,319971,2067463,1214222,0.587300,0.605199,1st runner
8575,Lakshadweep,Lakshadweep,HAMDULLAH SAYEED,MALE,36.0,ST,INC,Hand,21980,48,22028,55189,47009,0.851782,0.851782,1st runner
8578,Puducherry,Puducherry,Dr. NARAYANASAMY KESAVAN,MALE,29.0,GENERAL,AINRC,Jug,247844,112,247956,973410,790760,0.812361,0.812361,1st runner

In [60]:
winner = df19[df19["winner_pc"]=="win"].drop_duplicates(subset=["state", "pc_name", "party"])
runner = df19[df19["winner_pc"] == "1st runner"].drop_duplicates(subset=["state", "pc_name", "party"])

In [61]:
winner["margin difference"] = 0  # Initialize the margin difference column

for state in winner.state.unique():
    state_data = winner[winner["state"] == state]
    
    for pc in state_data.pc_name.unique():
        winner_mask = (winner["state"] == state) & (winner["pc_name"] == pc)
        runner_mask = (runner["state"] == state) & (runner["pc_name"] == pc)
        
        winner_votes = winner.loc[winner_mask, "total_votes"].values
        runner_votes = runner.loc[runner_mask, "total_votes"].values
        
        if len(winner_votes) > 0 and len(runner_votes) > 0:
            winner.loc[winner_mask, "margin difference"] = winner_votes[0] - runner_votes[0]

winner

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc,margin difference
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1074538,0.740337,0.803330,win,224089
11,Andhra Pradesh,Srikakulam,KINJARAPU RAM MOHAN NAIDU,MALE,32.0,GENERAL,TDP,Bicycle,529213,5331,534544,1553860,1157329,0.744809,0.803330,win,6653
23,Andhra Pradesh,Vizianagaram,Bellana Chandra Sekhar,MALE,57.0,GENERAL,YSRCP,Ceiling Fan,573466,4952,578418,1503980,1217890,0.809778,0.803330,win,48036
39,Andhra Pradesh,Visakhapatnam,M V V SATYANARAYANA,MALE,52.0,GENERAL,YSRCP,Ceiling Fan,433968,2938,436906,1829300,1239754,0.677720,0.803330,win,4414
53,Andhra Pradesh,Anakapalli,Dr.Beesetti Venkata Satyavathi,FEMALE,52.0,GENERAL,YSRCP,Ceiling Fan,583210,3016,586226,1521363,1238491,0.814067,0.803330,win,89192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8509,NCT OF Delhi,NORTH WEST DELHI,HANS RAJ HANS,MALE,57.0,SC,BJP,Lotus,847737,926,848663,2378995,1402962,0.589729,0.605199,win,553897
8519,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,MALE,41.0,GENERAL,BJP,Lotus,862058,3590,865648,2371644,1441601,0.607849,0.605199,win,578486
8543,NCT OF Delhi,SOUTH DELHI,RAMESH BIDHURI,MALE,57.0,GENERAL,BJP,Lotus,685789,1225,687014,2067463,1214222,0.587300,0.605199,win,367043
8573,Lakshadweep,Lakshadweep,MOHAMMED FAIZAL PP,MALE,43.0,ST,NCP,Clock,22796,55,22851,55189,47009,0.851782,0.851782,win,823
8580,Puducherry,Puducherry,Ve. VAITHILINGAM,MALE,68.0,GENERAL,INC,Hand,444646,335,444981,973410,790760,0.812361,0.812361,win,197025

### Top 5 candidates based on margin difference with runners in 2019.

In [62]:
winner.sort_values(by="margin difference", ascending=False).head(5)

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc,margin difference
1559,Gujarat,Navsari,C. R. Patil,MALE,64.0,GENERAL,BJP,Lotus,969430,3309,972739,1971658,1308018,0.663410,0.644250,win,689668
1689,Haryana,Karnal,Sanjay Bhatia,MALE,51.0,GENERAL,BJP,Lotus,909432,2162,911594,1904193,1300722,0.683083,0.704482,win,656142
1800,Haryana,Faridabad,KRISHAN PAL,MALE,62.0,GENERAL,BJP,Lotus,910787,2435,913222,2071816,1327295,0.640643,0.704482,win,638239
4873,Rajasthan,Bhilwara,SUBHASH CHANDRA BAHERIA,MALE,62.0,GENERAL,BJP,Lotus,936065,2095,938160,1997328,1310513,0.656133,0.661938,win,612000
1492,Gujarat,Vadodara,RANJANBEN BHATT,FEMALE,56.0,GENERAL,BJP,Lotus,880905,2814,883719,1794896,1222348,0.681013,0.644250,win,589177

In [63]:
for state in df14.state.unique():
    state_data = df14[df14["state"] == state]
    
    for pc in state_data.pc_name.unique():
        pc_data = state_data[state_data["pc_name"] == pc]
        
        # Check if there are at least two parties in the current pc_data
        if len(pc_data) > 1:
            # Get the second largest total votes
            second_max_vote = pc_data["total_votes"].nlargest(2).iloc[-1]
            # Get the party with the second largest votes
            win_party = pc_data[pc_data["total_votes"] == second_max_vote]["party"].values[0]
            df14.loc[(df14["state"] == state) & (df14["pc_name"] == pc) & (df14["party"] == win_party), "winner_pc"] = "1st runner"
        else:
            # If there's only one party, handle it according to your specific needs
            pass

In [64]:
df14[df14["winner_pc"]=="win"].drop_duplicates(subset=["state", "pc_name"])

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,1045839,0.754420,0.716444,win
11,Telangana,Peddapalle,BALKA SUMAN,M,31.0,SC,TRS,Car,563214,2282,565496,1425355,1022184,0.717143,0.716444,win
31,Telangana,Karimnagar,VINOD KUMAR BOINAPALLY,M,54.0,GEN,TRS,Car,503197,2161,505358,1550810,1125184,0.725546,0.716444,win
46,Telangana,Nizamabad,KALVAKUNTLA KAVITHA,F,36.0,GEN,TRS,Car,435706,3601,439307,1496193,1033924,0.691037,0.716444,win
62,Telangana,Zahirabad,B.B. PATIL,M,58.0,GEN,TRS,Car,505983,2678,508661,1445354,1094806,0.757466,0.716444,win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8264,NCT OF Delhi,NORTH WEST DELHI,UDIT RAJ,M,56.0,SC,BJP,Lotus,627529,2331,629860,2194343,1356036,0.617969,0.651991,win
8280,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,M,36.0,GEN,BJP,Lotus,649542,1853,651395,2039410,1347971,0.660961,0.651991,win
8299,NCT OF Delhi,SOUTH DELHI,RAMESH BIDHURI,M,52.0,GEN,BJP,Lotus,497151,829,497980,1752748,1102410,0.628961,0.651991,win
8319,Lakshadweep,Lakshadweep,MOHAMMED FAIZAL P.P.,M,38.0,ST,NCP,Clock,21665,0,21665,49922,43239,0.866131,0.866131,win
8325,Puducherry,Puducherry,R. RADHAKRISHNAN,M,42.0,GEN,AINRC,Jug,255732,94,255826,901357,740017,0.821003,0.821003,win

In [65]:
df14[df14["winner_pc"] == "1st runner"].drop_duplicates(subset=["state", "pc_name"])

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc
1,Telangana,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282,1045839,0.754420,0.716444,1st runner
12,Telangana,Peddapalle,G. VIVEKANAND,M,56.0,SC,INC,Hand,273441,897,274338,1425355,1022184,0.717143,0.716444,1st runner
28,Telangana,Karimnagar,PONNAM PRABHAKAR,M,47.0,GEN,INC,Hand,298386,2320,300706,1550810,1125184,0.725546,0.716444,1st runner
48,Telangana,Nizamabad,MADHU YASKHI GOUD,M,56.0,GEN,INC,Hand,270948,1175,272123,1496193,1033924,0.691037,0.716444,1st runner
65,Telangana,Zahirabad,SURESH KUMAR SHETKAR,M,53.0,GEN,INC,Hand,362939,1091,364030,1445354,1094806,0.757466,0.716444,1st runner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8267,NCT OF Delhi,NORTH WEST DELHI,RAKHI BIRLA,F,27.0,SC,AAAP,Broom,522842,216,523058,2194343,1356036,0.617969,0.651991,1st runner
8279,NCT OF Delhi,WEST DELHI,JARNAIL SINGH,M,41.0,GEN,AAAP,Broom,382610,199,382809,2039410,1347971,0.660961,0.651991,1st runner
8297,NCT OF Delhi,SOUTH DELHI,COL DEVINDER SEHRAWAT,M,48.0,GEN,AAAP,Broom,390858,122,390980,1752748,1102410,0.628961,0.651991,1st runner
8321,Lakshadweep,Lakshadweep,HAMDULLAH SAYEED,M,31.0,ST,INC,Hand,20130,0,20130,49922,43239,0.866131,0.866131,1st runner
8328,Puducherry,Puducherry,V. NARAYANASAMY,M,66.0,GEN,INC,Hand,194873,99,194972,901357,740017,0.821003,0.821003,1st runner

In [66]:
winner = df14[df14["winner_pc"]=="win"].drop_duplicates(subset=["state", "pc_name", "party"])
runner = df14[df14["winner_pc"] == "1st runner"].drop_duplicates(subset=["state", "pc_name", "party"])

In [67]:
winner["margin difference"] = 0  # Initialize the margin difference column

for state in winner.state.unique():
    state_data = winner[winner["state"] == state]
    
    for pc in state_data.pc_name.unique():
        winner_mask = (winner["state"] == state) & (winner["pc_name"] == pc)
        runner_mask = (runner["state"] == state) & (runner["pc_name"] == pc)
        
        winner_votes = winner.loc[winner_mask, "total_votes"].values
        runner_votes = runner.loc[runner_mask, "total_votes"].values
        
        if len(winner_votes) > 0 and len(runner_votes) > 0:
            winner.loc[winner_mask, "margin difference"] = winner_votes[0] - runner_votes[0]

winner

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc,margin difference
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,1045839,0.754420,0.716444,win,171290
11,Telangana,Peddapalle,BALKA SUMAN,M,31.0,SC,TRS,Car,563214,2282,565496,1425355,1022184,0.717143,0.716444,win,291158
31,Telangana,Karimnagar,VINOD KUMAR BOINAPALLY,M,54.0,GEN,TRS,Car,503197,2161,505358,1550810,1125184,0.725546,0.716444,win,204652
46,Telangana,Nizamabad,KALVAKUNTLA KAVITHA,F,36.0,GEN,TRS,Car,435706,3601,439307,1496193,1033924,0.691037,0.716444,win,167184
62,Telangana,Zahirabad,B.B. PATIL,M,58.0,GEN,TRS,Car,505983,2678,508661,1445354,1094806,0.757466,0.716444,win,144631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8264,NCT OF Delhi,NORTH WEST DELHI,UDIT RAJ,M,56.0,SC,BJP,Lotus,627529,2331,629860,2194343,1356036,0.617969,0.651991,win,106802
8280,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,M,36.0,GEN,BJP,Lotus,649542,1853,651395,2039410,1347971,0.660961,0.651991,win,268586
8299,NCT OF Delhi,SOUTH DELHI,RAMESH BIDHURI,M,52.0,GEN,BJP,Lotus,497151,829,497980,1752748,1102410,0.628961,0.651991,win,107000
8319,Lakshadweep,Lakshadweep,MOHAMMED FAIZAL P.P.,M,38.0,ST,NCP,Clock,21665,0,21665,49922,43239,0.866131,0.866131,win,1535
8325,Puducherry,Puducherry,R. RADHAKRISHNAN,M,42.0,GEN,AINRC,Jug,255732,94,255826,901357,740017,0.821003,0.821003,win,60854

### Top 5 candidates based on margin difference with runners in 2014

In [68]:
winner.sort_values(by="margin difference", ascending=False).head(5)

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,Total_vote_pc,Voter Turnout Ratio,state Voter Turnout Ratio,winner_pc,margin difference
1777,Gujarat,Vadodara,NARENDRA MODI,M,63.0,GEN,BJP,Lotus,841592,3872,845464,1638321,1161577,0.709005,0.636062,win,570128
6062,Uttar Pradesh,Ghaziabad,VIJAY KUMAR SINGH,M,62.0,GEN,BJP,Lotus,758113,369,758482,2357553,1342321,0.569370,0.585812,win,567260
1827,Gujarat,Navsari,C. R. PATIL,M,59.0,GEN,BJP,Lotus,818367,2464,820831,1764622,1160747,0.657788,0.636062,win,558116
4716,Rajasthan,Jaipur,RAMCHARAN BOHARA,M,56.0,GEN,BJP,Lotus,859973,3385,863358,1957820,1296806,0.662372,0.630196,win,539345
1818,Gujarat,Surat,DARSHANA VIKRAM JARDOSH,F,53.0,GEN,BJP,Lotus,717429,983,718412,1484068,947922,0.638732,0.636062,win,533190

# 6. % Split of votes of parties between 2014 vs 2019 at national level

In [69]:
parties = {"party" : [],
          "total_votes" : [],
          "percent_of_vote" : []}
for party in df14.party.unique():
    parties["party"] += [party]
    parties["total_votes"] += [df14[df14["party"]==party].total_votes.sum()]
    parties["percent_of_vote"] += [round((df14[df14["party"]==party].total_votes.sum()/df14.total_votes.sum())*100, 2)]
percent_split_national_2014 = pd.DataFrame(parties)
percent_split_national_2014

     party  total_votes  percent_of_vote
0      TRS      6736270             1.30
1      INC     96641749            18.58
2      TDP     14099230             2.71
3      BSP     22434033             4.31
4      IND     15888094             3.06
..     ...          ...              ...
448   BVLP          161             0.00
449   ABSP          651             0.00
450   RJAP          415             0.00
451   JSMP          357             0.00
452  AINRC       255826             0.05

[453 rows x 3 columns]

### % Split of votes of parties between 2014 at national level

In [70]:
percent_split_national_2014.sort_values(by="percent_of_vote", ascending=False)

     party  total_votes  percent_of_vote
12     BJP    161047761            30.97
1      INC     96641749            18.58
3      BSP     22434033             4.31
64    AITC     21215661             4.08
69      SP     18632568             3.58
..     ...          ...              ...
205  BBPSP         1679             0.00
204   MAHP         2101             0.00
203  BhNaP         1408             0.00
202   bjyp         2000             0.00
226   AwVP         3747             0.00

[453 rows x 3 columns]

In [71]:
parties = {"party" : [],
          "total_votes" : [],
          "percent_of_vote" : []}
for party in df19.party.unique():
    parties["party"] += [party]
    parties["total_votes"] += [df19[df19["party"]==party].total_votes.sum()]
    parties["percent_of_vote"] += [round((df19[df19["party"]==party].total_votes.sum()/df19.total_votes.sum())*100, 2)]
percent_split_national_2019 = pd.DataFrame(parties)
percent_split_national_2019

     party  total_votes  percent_of_vote
0      TDP     12515345             2.04
1      BJP    229076879            37.30
2    YSRCP     15537006             2.53
3      INC    119495214            19.46
4      JnP      1915127             0.31
..     ...          ...              ...
669    BPC          724             0.00
670   SoJP          805             0.00
671    NYP         1053             0.00
672  AINRC       247956             0.04
673  PUDEP         1319             0.00

[674 rows x 3 columns]

### % Split of votes of parties between 2019 at national level

In [72]:
percent_split_national_2019.sort_values(by="percent_of_vote", ascending=False)

     party  total_votes  percent_of_vote
1      BJP    229076879            37.30
3      INC    119495214            19.46
55    AITC     24929330             4.06
34     BSP     22246501             3.62
6      IND     16583326             2.70
..     ...          ...              ...
268     EP         1442             0.00
269   KPPR         3697             0.00
270   rpsn         5982             0.00
271   KPJP         1207             0.00
673  PUDEP         1319             0.00

[674 rows x 3 columns]

### % Split of votes of parties between 2014 vs 2019 at national level

In [73]:
pd.merge(percent_split_national_2019, percent_split_national_2014, how="inner", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

,party,total_votes_2019,percent_of_vote_2019,total_votes_2014,percent_of_vote_2014
1,BJP,229076879,37.30,161047761,30.97
3,INC,119495214,19.46,96641749,18.58
32,AITC,24929330,4.06,21215661,4.08
20,BSP,22246501,3.62,22434033,4.31
4,IND,16583326,2.70,15888094,3.06
...,...,...,...,...,...
123,MNDP,6198,0.00,11225,0.00
124,SP(I),3916,0.00,41518,0.01
125,BMSM,2484,0.00,3441,0.00
126,ARP,4399,0.00,16461,0.00
139,HiPPa,3750,0.00,8853,0.00

### Verification of no. of parties

In [74]:
len(df14.party.unique())

453

In [75]:
len(df19.party.unique())

674

In [76]:
len(set(df19.party.unique()).intersection(set(df14.party.unique())))

228

# 7. % Split of votes of parties between 2014 vs 2019 at state level.

In [ ]:
parties_statewise19 = {state : {"party" : [],
          "total_votes" : [],
          "percent_of_vote" : []} for state in df19.state.unique()}

for state in df19.state.unique():
    for party in df19[df19["state"]==state].party.unique():
        parties_statewise19[state]["party"] += [party]
        parties_statewise19[state]["total_votes"] += [df19[(df19["party"]==party) & (df19["state"]==state)].total_votes.sum()]
        parties_statewise19[state]["percent_of_vote"] += [round((df19[(df19["party"]==party) & (df19["state"]==state)].total_votes.sum()/df19[df19["state"]==state].total_votes.sum())*100, 2)]

parties_statewise19

In [ ]:
df19.state.unique()

In [ ]:
parties_statewise14 = {state : {"party" : [],
          "total_votes" : [],
          "percent_of_vote" : []} for state in df14.state.unique()}

for state in df14.state.unique():
    for party in df14[df14["state"]==state].party.unique():
        parties_statewise14[state]["party"] += [party]
        parties_statewise14[state]["total_votes"] += [df14[(df14["party"]==party) & (df14["state"]==state)].total_votes.sum()]
        parties_statewise14[state]["percent_of_vote"] += [round((df14[(df14["party"]==party) & (df14["state"]==state)].total_votes.sum()/df14[df14["state"]==state].total_votes.sum())*100, 2)]

parties_statewise14

### Andhra Pradesh

In [ ]:
Andhra_Pradesh14 = pd.DataFrame(parties_statewise14["Andhra Pradesh"]).sort_values(by="percent_of_vote", ascending=False)
Andhra_Pradesh19 = pd.DataFrame(parties_statewise19["Andhra Pradesh"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Andhra_Pradesh19, Andhra_Pradesh14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Arunachal Pradesh

In [ ]:
Arunachal_Pradesh14 = pd.DataFrame(parties_statewise14["Arunachal Pradesh"]).sort_values(by="percent_of_vote", ascending=False)
Arunachal_Pradesh19 = pd.DataFrame(parties_statewise19["Arunachal Pradesh"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Arunachal_Pradesh19, Arunachal_Pradesh14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Assam

In [ ]:
Assam14 = pd.DataFrame(parties_statewise14["Assam"]).sort_values(by="percent_of_vote", ascending=False)
Assam19 = pd.DataFrame(parties_statewise19["Assam"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Assam19, Assam14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Bihar

In [ ]:
Bihar14 = pd.DataFrame(parties_statewise14["Bihar"]).sort_values(by="percent_of_vote", ascending=False)
Bihar19 = pd.DataFrame(parties_statewise19["Bihar"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Bihar19, Bihar14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Goa

In [ ]:
Goa14 = pd.DataFrame(parties_statewise14["Goa"]).sort_values(by="percent_of_vote", ascending=False)
Goa19 = pd.DataFrame(parties_statewise19["Goa"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Goa19, Goa14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Gujarat

In [ ]:
Gujarat14 = pd.DataFrame(parties_statewise14["Gujarat"]).sort_values(by="percent_of_vote", ascending=False)
Gujarat19 = pd.DataFrame(parties_statewise19["Gujarat"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Gujarat19, Gujarat14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Haryana

In [ ]:
Haryana14 = pd.DataFrame(parties_statewise14["Haryana"]).sort_values(by="percent_of_vote", ascending=False)
Haryana19 = pd.DataFrame(parties_statewise19["Haryana"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Haryana19, Haryana14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Himachal Pradesh

In [ ]:
Himachal_Pradesh14 = pd.DataFrame(parties_statewise14["Himachal Pradesh"]).sort_values(by="percent_of_vote", ascending=False)
Himachal_Pradesh19 = pd.DataFrame(parties_statewise19["Himachal Pradesh"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Himachal_Pradesh19, Himachal_Pradesh14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Jammu & Kashmir

In [ ]:
Jammu_Kashmir14 = pd.DataFrame(parties_statewise14["Jammu & Kashmir"]).sort_values(by="percent_of_vote", ascending=False)
Jammu_Kashmir19 = pd.DataFrame(parties_statewise19["Jammu & Kashmir"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Jammu_Kashmir19, Jammu_Kashmir14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Karnataka

In [ ]:
Karnataka14 = pd.DataFrame(parties_statewise14["Karnataka"]).sort_values(by="percent_of_vote", ascending=False)
Karnataka19 = pd.DataFrame(parties_statewise19["Karnataka"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Karnataka19, Karnataka14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Kerala

In [ ]:
Kerala14 = pd.DataFrame(parties_statewise14["Kerala"]).sort_values(by="percent_of_vote", ascending=False)
Kerala19 = pd.DataFrame(parties_statewise19["Kerala"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Kerala19, Kerala14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Madhya Pradesh

In [ ]:
Madhya_Pradesh14 = pd.DataFrame(parties_statewise14["Madhya Pradesh"]).sort_values(by="percent_of_vote", ascending=False)
Madhya_Pradesh19 = pd.DataFrame(parties_statewise19["Madhya Pradesh"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Madhya_Pradesh19, Madhya_Pradesh14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Maharashtra

In [ ]:
Maharashtra14 = pd.DataFrame(parties_statewise14["Maharashtra"]).sort_values(by="percent_of_vote", ascending=False)
Maharashtra19 = pd.DataFrame(parties_statewise19["Maharashtra"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Maharashtra19, Maharashtra14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Manipur

In [ ]:
Manipur14 = pd.DataFrame(parties_statewise14["Manipur"]).sort_values(by="percent_of_vote", ascending=False)
Manipur19 = pd.DataFrame(parties_statewise19["Manipur"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Manipur19, Manipur14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Meghalaya

In [ ]:
Meghalaya14 = pd.DataFrame(parties_statewise14["Meghalaya"]).sort_values(by="percent_of_vote", ascending=False)
Meghalaya19 = pd.DataFrame(parties_statewise19["Meghalaya"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Meghalaya19, Meghalaya14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Mizoram

In [ ]:
Mizoram14 = pd.DataFrame(parties_statewise14["Mizoram"]).sort_values(by="percent_of_vote", ascending=False)
Mizoram19 = pd.DataFrame(parties_statewise19["Mizoram"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Mizoram19, Mizoram19, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Nagaland

In [ ]:
Nagaland14 = pd.DataFrame(parties_statewise14["Nagaland"]).sort_values(by="percent_of_vote", ascending=False)
Nagaland19 = pd.DataFrame(parties_statewise19["Nagaland"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Nagaland19, Nagaland14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Odisha data is not available for 2014

In [ ]:
# Odisha14 = pd.DataFrame(parties_statewise14["Odisha"]).sort_values(by="percent_of_vote", ascending=False)
Odisha19 = pd.DataFrame(parties_statewise19["Odisha"]).sort_values(by="percent_of_vote", ascending=False)
# pd.merge(Odisha19, Odisha14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)
Odisha19

### Punjab

In [ ]:
Punjab14 = pd.DataFrame(parties_statewise14["Punjab"]).sort_values(by="percent_of_vote", ascending=False)
Punjab19 = pd.DataFrame(parties_statewise19["Punjab"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Punjab19, Punjab14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Rajasthan

In [ ]:
Rajasthan14 = pd.DataFrame(parties_statewise14["Rajasthan"]).sort_values(by="percent_of_vote", ascending=False)
Rajasthan19 = pd.DataFrame(parties_statewise19["Rajasthan"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Rajasthan19, Rajasthan14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Sikkim

In [ ]:
Sikkim14 = pd.DataFrame(parties_statewise14["Sikkim"]).sort_values(by="percent_of_vote", ascending=False)
Sikkim19 = pd.DataFrame(parties_statewise19["Sikkim"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Sikkim19, Sikkim14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Tamil Nadu

In [ ]:
Tamil_Nadu14 = pd.DataFrame(parties_statewise14["Tamil Nadu"]).sort_values(by="percent_of_vote", ascending=False)
Tamil_Nadu19 = pd.DataFrame(parties_statewise19["Tamil Nadu"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Tamil_Nadu19, Tamil_Nadu14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Tripura

In [ ]:
Tripura14 = pd.DataFrame(parties_statewise14["Tripura"]).sort_values(by="percent_of_vote", ascending=False)
Tripura19 = pd.DataFrame(parties_statewise19["Tripura"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Tripura19, Tripura19, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Uttar Pradesh

In [ ]:
Uttar_Pradesh14 = pd.DataFrame(parties_statewise14["Punjab"]).sort_values(by="percent_of_vote", ascending=False)
Uttar_Pradesh19 = pd.DataFrame(parties_statewise19["Punjab"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Uttar_Pradesh19, Uttar_Pradesh14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### West Bengal

In [ ]:
West_Bengal14 = pd.DataFrame(parties_statewise14["West Bengal"]).sort_values(by="percent_of_vote", ascending=False)
West_Bengal19 = pd.DataFrame(parties_statewise19["West Bengal"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(West_Bengal19, West_Bengal19, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Chhattisgarh data not available for 2014

In [ ]:
# Chhattisgarh14 = pd.DataFrame(parties_statewise14["Chhattisgarh"]).sort_values(by="percent_of_vote", ascending=False)
Chhattisgarh19 = pd.DataFrame(parties_statewise19["Chhattisgarh"]).sort_values(by="percent_of_vote", ascending=False)
# pd.merge(Chhattisgarh19, Chhattisgarh14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)
Chhattisgarh19

### Jharkhand

In [ ]:
Jharkhand14 = pd.DataFrame(parties_statewise14["Jharkhand"]).sort_values(by="percent_of_vote", ascending=False)
Jharkhand19 = pd.DataFrame(parties_statewise19["Jharkhand"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Jharkhand19, Jharkhand14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Uttarakhand

In [ ]:
Uttarakhand14 = pd.DataFrame(parties_statewise14["Uttarakhand"]).sort_values(by="percent_of_vote", ascending=False)
Uttarakhand19 = pd.DataFrame(parties_statewise19["Uttarakhand"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Uttarakhand19, Uttarakhand14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Telangana

In [ ]:
Telangana14 = pd.DataFrame(parties_statewise14["Telangana"]).sort_values(by="percent_of_vote", ascending=False)
Telangana19 = pd.DataFrame(parties_statewise19["Telangana"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Telangana19, Telangana14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Andaman & Nicobar Islands

In [ ]:
Andaman_Nicobar_Islands14 = pd.DataFrame(parties_statewise14["Andaman & Nicobar Islands"]).sort_values(by="percent_of_vote", ascending=False)
Andaman_Nicobar_Islands19 = pd.DataFrame(parties_statewise19["Andaman & Nicobar Islands"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Andaman_Nicobar_Islands19, Andaman_Nicobar_Islands14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Chandigarh

In [ ]:
Chandigarh14 = pd.DataFrame(parties_statewise14["Chandigarh"]).sort_values(by="percent_of_vote", ascending=False)
Chandigarh19 = pd.DataFrame(parties_statewise19["Chandigarh"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Chandigarh19, Chandigarh14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Dadra & Nagar Haveli

In [ ]:
Dadra_Nagar_Haveli14 = pd.DataFrame(parties_statewise14["Dadra & Nagar Haveli"]).sort_values(by="percent_of_vote", ascending=False)
Dadra_Nagar_Haveli19 = pd.DataFrame(parties_statewise19["Dadra & Nagar Haveli"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Dadra_Nagar_Haveli19, Dadra_Nagar_Haveli14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Daman & Diu

In [ ]:
Daman_Diu14 = pd.DataFrame(parties_statewise14["Daman & Diu"]).sort_values(by="percent_of_vote", ascending=False)
Daman_Diu19 = pd.DataFrame(parties_statewise19["Daman & Diu"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Daman_Diu19, Daman_Diu14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### NCT OF Delhi

In [ ]:
NCT_OF_Delhi14 = pd.DataFrame(parties_statewise14["NCT OF Delhi"]).sort_values(by="percent_of_vote", ascending=False)
NCT_OF_Delhi19 = pd.DataFrame(parties_statewise19["NCT OF Delhi"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(NCT_OF_Delhi19, NCT_OF_Delhi14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Lakshadweep

In [ ]:
Lakshadweep14 = pd.DataFrame(parties_statewise14["Lakshadweep"]).sort_values(by="percent_of_vote", ascending=False)
Lakshadweep19 = pd.DataFrame(parties_statewise19["Lakshadweep"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Lakshadweep19, Lakshadweep14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

### Puducherry

In [ ]:
Puducherry14 = pd.DataFrame(parties_statewise14["Puducherry"]).sort_values(by="percent_of_vote", ascending=False)
Puducherry19 = pd.DataFrame(parties_statewise19["Puducherry"]).sort_values(by="percent_of_vote", ascending=False)
pd.merge(Puducherry19, Puducherry14, how="left", on=["party"], suffixes=('_2019', '_2014')).sort_values(by="percent_of_vote_2019", ascending=False)

# 8. List top 5 constituencies for two major national parties where they have gained vote share in 2019 as compared to 2014.

In [ ]:
two_major_party14 = df14[(df14["party"]=="BJP") | (df14["party"]=="INC")]
two_major_party14

In [ ]:
two_major_party19 = df19[(df19["party"]=="BJP") | (df19["party"]=="INC")]
two_major_party19

In [ ]:
two_major_party19 = two_major_party19.drop(["candidate", "sex", "age", "category", "party_symbol", "general_votes", "postal_votes"], axis=1)
two_major_party14 = two_major_party14.drop(["candidate", "sex", "age", "category", "party_symbol", "general_votes", "postal_votes"], axis=1)

In [ ]:
two_major_party14

In [ ]:
two_major_party19

In [ ]:
merge_major_party = pd.merge(two_major_party19, two_major_party14, how="left", on=['state', 'pc_name', 'party'], suffixes=('_19', '_14'))
merge_major_party

In [ ]:
merge_major_party["Gain"] = merge_major_party["total_votes_19"] - merge_major_party["total_votes_14"]
merge_major_party

### List top 5 constituencies for INC parties where they have gained vote share in 2019 as compared to 2014.

In [ ]:
merge_major_party[merge_major_party["party"]=="INC"].sort_values(by="Gain", ascending=False).head(5).pc_name

### List top 5 constituencies for two BJP parties where they have gained vote share in 2019 as compared to 2014.

In [ ]:
merge_major_party[merge_major_party["party"]=="BJP"].sort_values(by="Gain", ascending=False).head(5).pc_name

# 9. List top 5 constituencies for two major national parties where they have lost vote share in 2019 as compared to 2014.

### List top 5 constituencies for INC parties where they have lost vote share in 2019 as compared to 2014.

In [ ]:
merge_major_party[merge_major_party["party"]=="INC"].sort_values(by="Gain", ascending=True).head(5).pc_name

### List top 5 constituencies for BJP parties where they have lost vote share in 2019 as compared to 2014.

In [ ]:
merge_major_party[merge_major_party["party"]=="BJP"].sort_values(by="Gain", ascending=True).head(5).pc_name

# 10. Which constituency has voted the most for NOTA?

### Constituency which has voted the most for NOTA in 2014

In [ ]:
df14[(df14["total_votes"]==df14[df14["party"]=="NOTA"]["total_votes"].max()) & (df14["party"]=="NOTA")]

### Constituency which has voted the most for NOTA in 2019

In [ ]:
df19[(df19["total_votes"]==df19[df19["party"]=="NOTA"]["total_votes"].max()) & (df19["party"]=="NOTA")]

# 11. Which constituencies have elected candidates whose party has less than 10% vote share at state level in 2019?

In [ ]:
df19.state.unique()

In [ ]:
Arunachal_Pradesh19[(Arunachal_Pradesh19["percent_of_vote"]<10)].party

In [ ]:
df19[(df19["state"]=="Arunachal Pradesh") & (df19["party"]=="AIFB") & (df19["winner_pc"]=="win")]

### Andhra Pradesh

In [ ]:
res = []
for party in Andhra_Pradesh19[(Andhra_Pradesh19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Andhra Pradesh") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Arunachal Pradesh

In [ ]:
res = []
for party in Arunachal_Pradesh19[(Arunachal_Pradesh19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Arunachal Pradesh") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Assam

In [ ]:
res = []
for party in Assam19[(Assam19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Assam") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Bihar

In [ ]:
res = []
for party in Bihar19[(Bihar19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Bihar") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Goa

In [ ]:
res = []
for party in Goa19[(Goa19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Goa") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Gujarat

In [ ]:
res = []
for party in Gujarat19[(Gujarat19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Gujarat") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Haryana

In [ ]:
res = []
for party in Haryana19[(Haryana19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Haryana") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Himachal Pradesh

In [ ]:
res = []
for party in Himachal_Pradesh19[(Himachal_Pradesh19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Himachal Pradesh") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Jammu & Kashmir

In [ ]:
res = []
for party in Jammu_Kashmir19[(Jammu_Kashmir19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Jammu & Kashmir") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Karnataka

In [ ]:
res = []
for party in Karnataka19[(Karnataka19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Karnataka") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Kerala

In [ ]:
res = []
for party in Kerala19[(Kerala19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Kerala") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Madhya Pradesh

In [ ]:
res = []
for party in Madhya_Pradesh19[(Madhya_Pradesh19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Madhya Pradesh") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Maharashtra

In [ ]:
res = []
for party in Maharashtra19[(Maharashtra19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Maharashtra") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Manipur

In [ ]:
res = []
for party in Manipur19[(Manipur19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Manipur") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Meghalaya

In [ ]:
res = []
for party in Meghalaya19[(Meghalaya19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Meghalaya") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Mizoram

In [ ]:
res = []
for party in Mizoram19[(Mizoram19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Mizoram") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Nagaland

In [ ]:
res = []
for party in Nagaland19[(Nagaland19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Nagaland") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Odisha

In [ ]:
res = []
for party in Odisha19[(Odisha19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Odisha") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Punjab

In [ ]:
res = []
for party in Punjab19[(Punjab19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Punjab") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Rajasthan

In [ ]:
res = []
for party in Rajasthan19[(Rajasthan19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Rajasthan") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Sikkim

In [ ]:
res = []
for party in Sikkim19[(Sikkim19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Sikkim") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Tamil Nadu

In [ ]:
res = []
for party in Tamil_Nadu19[(Tamil_Nadu19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Tamil Nadu") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Tripura

In [ ]:
res = []
for party in Tripura19[(Tripura19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Tripura") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Uttar Pradesh

In [ ]:
res = []
for party in Uttar_Pradesh19[(Uttar_Pradesh19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Uttar Pradesh") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

In [ ]:
Uttar_Pradesh19[(Uttar_Pradesh19["percent_of_vote"]<10)]

### West Bengal

In [ ]:
res = []
for party in West_Bengal19[(West_Bengal19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="West Bengal") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Chhattisgarh

In [ ]:
res = []
for party in Chhattisgarh19[(Chhattisgarh19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Chhattisgarh") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Jharkhand

In [ ]:
res = []
for party in Jharkhand19[(Jharkhand19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Jharkhand") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Uttarakhand

In [ ]:
res = []
for party in Uttarakhand19[(Uttarakhand19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Uttarakhand") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Telangana

In [ ]:
res = []
for party in Telangana19[(Telangana19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Telangana") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Andaman & Nicobar Islands

In [ ]:
res = []
for party in Andaman_Nicobar_Islands19[(Andaman_Nicobar_Islands19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Andaman & Nicobar Islands") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Chandigarh

In [ ]:
res = []
for party in Chandigarh19[(Chandigarh19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Chandigarh") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Dadra & Nagar Haveli

In [ ]:
res = []
for party in Dadra_Nagar_Haveli19[(Dadra_Nagar_Haveli19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Dadra & Nagar Haveli") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Daman & Diu

In [ ]:
res = []
for party in Daman_Diu19[(Daman_Diu19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Daman & Diu") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### NCT OF Delhi

In [ ]:
res = []
for party in NCT_OF_Delhi19[(NCT_OF_Delhi19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="NCT OF Delhi") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Lakshadweep

In [ ]:
res = []
for party in Lakshadweep19[(Lakshadweep19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Lakshadweep") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

### Puducherry

In [ ]:
res = []
for party in Puducherry19[(Puducherry19["percent_of_vote"]<10)].party.unique():
    res += list(df19[(df19["state"]=="Puducherry") & (df19["party"]==party) & (df19["winner_pc"]=="win")].pc_name.unique())
print(res)

# secondary Questions

1. Is there a correlation between postal votes % and voter turnout %?
2. Is there any correlation between GDP of a state and voter turnout %??
3. Is there any correlation between literacy % of a state and voter turnout %?
4. Provide 3 recommendations on what the election commission /government can do to increase the voter turnout %?

## 1. Is there a correlation between postal votes % and voter turnout %?

In [ ]:
df14.corr(method='pearson', min_periods=1, numeric_only=True)

In [ ]:
df19.corr(method='pearson', min_periods=1, numeric_only=True)

### -> There is no visible correlation between postal votes and voter turnout ratio

## 2. Is there any correlation between GDP of a state and voter turnout %??

In [ ]:
stateGDP = pd.read_csv("StateGDP.csv")
stateGDP

In [ ]:
stateGDP.columns

In [ ]:
stateGDP14 = stateGDP.drop(['2004–05', '2009–10', '2010–11', '2011–12', '2012–13',
       '2013–14', '2015–16', '2016–17', '2017–18', '2018–19',
       '2019–20', '2020–21'], axis=1)
stateGDP14

In [ ]:
dfGDP14 = pd.merge(df14, stateGDP14, on=["state"], how="left")
dfGDP14

In [ ]:
stateGDP19 = stateGDP.drop(['2004–05', '2009–10', '2010–11', '2011–12', '2012–13',
       '2013–14', '2014–15', '2015–16', '2016–17', '2017–18', '2018–19', '2020–21'], axis=1)
stateGDP19

In [ ]:
dfGDP19 = pd.merge(df19, stateGDP19, on=["state"], how="left")
dfGDP19['2019–20'] = dfGDP19['2019–20'].str.replace(',', '').astype(float)
dfGDP19

In [ ]:
dfGDP19.corr(method='pearson', min_periods=1, numeric_only=True)

### -> There is no visisble corelation between GDP and voter turnout ration in 2019

In [ ]:
dfGDP14 = pd.merge(df14, stateGDP14, on=["state"], how="left")
dfGDP14['2014–15'] = dfGDP14['2014–15'].str.replace(',', '').astype(float)
dfGDP14

In [ ]:
dfGDP19.corr(method='pearson', min_periods=1, numeric_only=True)

### -> There is no visisble corelation between GDP and voter turnout ration

## Is there any correlation between literacy % of a state and voter turnout %?

In [ ]:
literacy = pd.read_csv("literacy.csv")
literacy

In [ ]:
literacy.columns

In [ ]:
dfliteracy14 = pd.merge(df14, literacy.drop(['Male ', 'Female'], axis=1), on=["state"], how="left", suffixes=("", "_literacy"))
dfliteracy14

In [ ]:
dfliteracy14.rename(columns={'Person': 'literacy'}, inplace=True)
dfliteracy14

In [ ]:
dfliteracy14.corr(method='pearson', min_periods=1, numeric_only=True)

In [ ]:
dfliteracy19 = pd.merge(df19, literacy.drop(['Male ', 'Female'], axis=1), on=["state"], how="left", suffixes=("", "_literacy"))
dfliteracy19

In [ ]:
dfliteracy19.rename(columns={'Person': 'literacy'}, inplace=True)
dfliteracy19

In [ ]:
dfliteracy19.corr(method='pearson', min_periods=1, numeric_only=True)

### -> Yes, there is a moderate positive correlation between the literacy percentage of a state and the voter turnout percentage, with a correlation coefficient of 0.377450. This suggests that higher literacy rates in a state are associated with higher voter turnout ratios.

## Provide 3 recommendations on what the election commission /government can do to increase the voter turnout %?

### 1). I recommend that the Election Commission schedule elections during seasons with moderate temperatures. This will likely encourage higher voter turnout, as more individuals will be comfortable and willing to participate in the voting process.

### 2). I recommend that the Election Commission allow voters to cast their ballots from different cities and states for their respective constituencies. Many individuals migrate temporarily for work or education, and this provision would ensure they can participate in the electoral process.

### 3). I recommend that the Election Commission transition to advanced digital technologies, enabling citizens to vote from their devices such as mobile phones and desktop computers through secure applications utilizing blockchain technology and other robust security measures. This modernization would enhance accessibility and efficiency in the electoral process while ensuring the integrity and confidentiality of votes.

In [ ]:
# That's it